[2015-08-14 10:18] sudhakarmallidi opened #1 "How to integrate ADAL Azure with out cocoapods, Please provide the steps"

[2015-08-17 16:32] aclev commented on #1
Hi @sudhakarmallidi,
Thanks for your question! We strongly recommend using cocoapods to integrate with the OneDriveSDK, it should handle all the decencies with ADAL for you. Are you trying to include the OneDrive SDK from source? Can you provide some more details of your scenario?

[2015-08-27 22:39] tobihagemann opened #3 "Unable to access progress object"
I would like to show the user some progress while downloading/uploading. To my understanding `ODURLSessionDownloadTask` and `ODURLSessionUploadTask` are subclasses of `ODURLSessionProgressTask` that should contain a `NSProgress` object. But this is always nil.

I've already dug through the code, but I just don't understand the progress concept of this project. Maybe it's because I'm not that famil

[2015-08-27 23:04] aclev commented on #3
Hi @MuscleRumble Looking into this now.  The `NSProgress` returned by `ODURLSessionProgressTask` should not be nil.  I'm investigating now.

[2015-08-30 03:33] vincenttsai commented on #3
the same issue.

[2015-08-30 03:39] vincenttsai opened #4 "Unable to upload audio file"
I tried to upload an m4a or mp3 file with the following code.

NSURL *fileURL = xxxx;
ODItemContentRequest *request = [[[[ODClient loadCurrentClient] drive] items:path] contentRequest];
self.task = [request uploadFromFile:fileURL completion:^(ODItem *item, NSError *error)

Then there is always return an error  "unsupported media type" UserInfo=0x7f7fb5172210 {error=  : The request entity's media t

[2015-08-31 16:54] aclev commented on #4
Hi @vincenttsai
Thanks for your interest! Right now to append the content-type header to the contentRequest you can call: `[[[[ODClient loadCurrentClient] drive] items:path] contentRequestWithOptions:@[[[ODHeaderOptions alloc] initWithKey:@"Content-Type" Value:<type of content>]]]];`

You can also append any headers or query parameters that way.  This seems like a common scenario and we can look i

[2015-09-02 04:29] vincenttsai commented on #4
Hi @aclev
Thanks for your nice code smell.
I tried to fix this with parentID and it turns out another error code 405(The HTTP method in the request is not allowed on the resource).  After I debug with the request, I found the URL was "https://api.onedrive.com/v1.0/drive/items/{parentID}/content" with put method.
But in the document (https://dev.onedrive.com/items/upload_put.htm), there is no such

[2015-09-02 16:37] aclev commented on #4
Hi @vincenttsai
We actually provided a way to access an item by path using the SDK if you see the [items](https://github.com/OneDrive/onedrive-sdk-ios/blob/master/docs/items.md) page.  You can do this via `[[[[odClient drive] items:parentId] itemByPath:@"path/to/file"] contentRequest]`  You are actually missing a colon at the end of your self constructed path.  This means you are trying to put to

[2015-09-03 10:43] James24 commented on #3
Yeah there is no progressbar for downloading and uploading... Please Fix it

[2015-09-04 07:37] James24 opened #5 "How to get email id from session or on login ?"
I have logged in multiple accounts, It is difficult to identify the particular account with client.accountID, Is there any way to get email id for respective account id.

[2015-09-04 16:58] rgregg commented on #5
There isn't -- yet. We're working on making this available from the API, which will then be available in the SDK.

[2015-09-04 20:58] #3 closed, assigned to aclev

[2015-09-04 21:04] aclev commented on #5
Hi @James24
For now you can get the name of the owner of a drive, to do this you can call :

[code]

[2015-09-05 06:14] James24 commented on #5
ok thanku @rgregg  :+1:

[2015-09-05 06:15] James24 commented on #5
Superb. thanks a lot @aclev :+1:

[2015-09-05 06:23] James24 commented on #1
HI @sudhakarmallidi,
Download ADAL from https://github.com/AzureAD/azure-activedirectory-library-for-objc/archive/master.zip

and import the following files in your project https://github.com/AzureAD/azure-activedirectory-library-for-objc/tree/master/ADALiOS/ADALiOS

[2015-09-05 06:26] James24 commented on #3
Great @aclev cheers :+1:

[2015-09-05 08:50] #5 closed, assigned to nobody

[2015-09-05 20:12] tobihagemann opened #7 "Progress not working with mime type "application/octet-stream""
Thanks for the fix for #3. Unfortunately I still have an issue with getting the actual progress. Downloading files of MIME type `application/octet-stream` and showing its progress doesn't seem to work.

Here is a shortened output log of the NSProgress object while downloading a ~2 MB file.

[code]

As you can see `totalUnitCount` (or `expectedBytes`) is always `-1`. Furthermore `completedUnitCount

[2015-09-06 03:57] baoshiwei opened #8 "Library not found for -lADALiOS"
I download the project，and open the project in Examples(iOSExplorer),and pod install，but  Xcode  still  :"Library not found for -lADALiOS".     Did I miss some steps?    Xcode Version 6.3.1

[2015-09-06 07:03] lidoapps opened #9 "The app alway prompts to login when start up"
Although i have signed in, the app prompt to login when start up

[ODClient loadCurrentClient] alway returns nil

[2015-09-07 03:38] baoshiwei commented on #1
My issue is the same.Just  pod install,the ADAL not work

[2015-09-07 06:56] James24 commented on #9
Hi @lidoapps

In app delegate didfinish launch method

replace the line
[ODClient setMicrosoftAccountAppId:@"0000000048160AF8" scopes:@[@"onedrive.readwrite"] ];

with
 [ODClient setMicrosoftAccountAppId:@"0000000048160AF8" scopes:@[@"wl.signin,wl.offline_access,onedrive.readwrite"] ];

[2015-09-07 07:02] James24 commented on #3
Yes @aclev progress not working.

Progress value printing like this

2015-09-07 12:32:57.678 iOSExplorer[3138:40826] progress completed : 0.060407
2015-09-07 12:32:57.685 iOSExplorer[3138:40826] progress completed : 0.030204
2015-09-07 12:32:57.768 iOSExplorer[3138:40826] progress completed : 0.030200
2015-09-07 12:32:57.776 iOSExplorer[3138:40826] progress completed : 0.030207
2015-09-07 12:32:57

[2015-09-07 07:03] James24 commented on #7
Yes @aclev progress not working.

Progress value printing like this

2015-09-07 12:32:57.678 iOSExplorer[3138:40826] progress completed : 0.060407
2015-09-07 12:32:57.685 iOSExplorer[3138:40826] progress completed : 0.030204
2015-09-07 12:32:57.768 iOSExplorer[3138:40826] progress completed : 0.030200
2015-09-07 12:32:57.776 iOSExplorer[3138:40826] progress completed : 0.030207
2015-09-07 12:32:57

[2015-09-07 07:45] lidoapps commented on #9
Thanks @James24
It works

[2015-09-07 07:45] #9 closed, assigned to nobody

[2015-09-07 13:53] James24 commented on #9
Welcome :+1:

[2015-09-08 16:58] aclev commented on #7
Hi @MuscleRumble  and @James24 Thanks for reporting the bug, I'm looking into it now.

[2015-09-08 16:59] aclev commented on #8
Hi @baoshiwei How did you open the project, when using Cocoapods you must run a pod install and then open the iOSExplorer.xcworkspace not the xcproj.

[2015-09-09 01:15] baoshiwei commented on #8
I don't use cocoapods before,my fault.Thank you.

[2015-09-09 05:57] James24 commented on #7
Welcome :+1:

[2015-09-09 05:59] vincenttsai commented on #4
Thanks, [[[[odClient drive] items:parentId] itemByPath:@"path/to/file"] works!

[2015-09-09 05:59] #4 closed, assigned to aclev

[2015-09-10 17:11] #8 closed, assigned to aclev

[2015-09-11 22:46] aclev commented on #7
Hi @James24 and @MuscleRumble  I just created a pull request to fix this bug. If you want to try the fix before I merge it you can change your podspec to have `pod 'OneDriveSDK', git : => https://github.com/aclev/onedrive-sdk-ios, branch : => dev`  Let me know if this resolves issue.

[2015-09-12 09:25] James24 commented on #7
ok @aclev

[2015-09-12 11:00] James24 commented on #7
Superb @aclev  Progress working like a charm

2015-09-12 16:39:07.260 iOSExplorer[8916:130156] progress completed : 0.007892
2015-09-12 16:39:07.261 iOSExplorer[8916:130156] progress completed : 0.007892
2015-09-12 16:39:07.270 iOSExplorer[8916:130156] progress completed : 0.030664
2015-09-12 16:39:07.304 iOSExplorer[8916:130156] progress completed : 0.133882
2015-09-12 16:39:07.311 iOSExplorer[89

[2015-09-12 11:29] tobihagemann commented on #7
Alright, the "not accumulating" bug is fixed, but my main issue still remains:

[code]

`fractionCompleted` is always `0.0` with files of MIME type `application/octet-stream`, because the `totalUnitCount` is `-1`. As I mentioned, the root of cause should lie within `ODURLSessionManager.m`, beginning at line `160`.

[code]

This `NSURLSession` delegate is being called and `totalBytesExpectedToWrite

[2015-09-14 09:14] ceecbrookes opened #12 "Cannot login using iOS 9"
After calling `authenticatedClientWithCompletion:` and entering email address, I get redirected to a blank screen (within the login popover). I can successfully login using the same code with iOS 8.

[2015-09-14 16:56] aclev commented on #7
Hi @MuscleRumble I haven't actually been able to reproduce this issue.  I have tested with different mime types of various sizes.  Our service is returning a content-length header.  Does this happen for a specific file or any file of type application/octet-stream?

[2015-09-14 17:05] tobihagemann commented on #7
It's kind of a special case, I must say I have only tested it with a "custom" type (but if I look into `file.mimeType` of the `ODItem` it says `application/octet-stream`). I'm working on an app for file encryption/decryption.

Here is one example: http://1drv.ms/1LcKSrK

It's an encrypted file, so you wouldn't see any content, but at least you could try and download it!

[2015-09-14 17:17] aclev commented on #12
Hi @ceecbrookes Thanks for reporting this issue.  I am investigating now.

[2015-09-14 17:31] aclev commented on #12
@ceecbrookes, does this happen for both OneDrive for Business and Personal? What type of account did you try to login with?

[2015-09-15 07:42] ceecbrookes commented on #12
I tried to log in with a personal account. Thanks for investigating @aclev.

[2015-09-16 17:01] aclev commented on #7
Hi @MuscleRumble That file you have is actually being gzipped when you download it.  We aren't returning a content length because we don't know the length of the compressed file.  For now if you want to make sure the file isn't compressed you can add `gzip;q=0` to the `Accept-Encoding` header of the request.  To do you this you can create an `ODHeaderOptions` object and pass it in when constructin

[2015-09-16 17:09] tobihagemann commented on #7
Thanks @aclev! Everything works as intended now. It "feels" like a workaround, because who knows if this is something that will be changed in the future. But it works for now, many thanks! :)

[2015-09-16 23:52] vincenttsai commented on #12
I think it's the transport security in iOS9 , you can try to add the following in the info.plist to see if this works.
<key>NSAppTransportSecurity</key>
<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
</dict>

[2015-09-17 00:22] #7 closed, assigned to aclev

[2015-09-17 00:23] aclev commented on #12
Hi @vincenttsai and @ceecbrookes That is correct that it is the transport security in iOS 9.  Please take a look at the readme for instructions on how to disable it.  Disabling ATS altogether (like shown above) is not the recommended approach.

[2015-09-17 03:18] vincenttsai commented on #12
@aclev Thanks for your information.

[2015-09-17 10:19] ceecbrookes commented on #12
@vincenttsai / @aclev, this solves the issue, thanks for your time.

[2015-09-17 10:19] #12 closed, assigned to aclev

[2015-09-18 04:39] vincenttsai opened #15 "oneDriveAccountStore.plist in Documents folder"
Hello I found there is a file oneDriveAccountStore.plist in documents folder once login. This maybe cause some issues. Some document based app may open this folder to users so they can download files in Documents folder from iTunes.  User can also choice to delete files via iTunes. And in my app, I will list all the files under documents for user to operate and I have to filter out these files now

[2015-09-18 06:21] vincenttsai commented on #15
BTW, there are some other random files appear in the Documents as well. These files will show up very shortly looks like some temp file.

![random](https://cloud.githubusercontent.com/assets/1673319/9953125/697fb32c-5e10-11e5-9724-d9a335beb3f7.jpg)

Thanks

[2015-09-21 07:49] ghost opened #16 "Generate shared link to file"
How would one go about generating a shared link to an uploaded file? A link that does not expire and can be opened by other people

[2015-09-21 22:30] peternied opened #19 "testAccountSessionWithValidResponseAndRefreshToken fails due to a bad time evaulation"
-[ODAuthHelperTests testAccountSessionWithValidResponseAndRefreshToken](OneDriveSDKTests.xctest)

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
/Users/travis/build/OneDrive/onedrive-sdk-ios/OneDriveSDK/OneDriveSDKTests/AuthTests/ODAuthHelperTests.m:71: ((dateTimeString) equal to (expiresDateString)) failed: ("9/21/15, 10:17:04 PM GMT") is not equal to ("9/21/15, 10:17:05 PM GMT"):

[2015-09-22 14:23] James24 opened #21 "How to cancel the previous request ?"
[childrenRequests getWithCompletion:^(ODCollection *response, ODChildrenCollectionRequest *nextRequest, NSError *error){
        if (!error){
}
if(nextRequest)
{
 [self loadChildrenWithRequest:nextRequest];    //here
 }

if i have many files in a directory, nextRequest will call [self loadChildrenWithRequest:nextRequest] until we receive all the files. Before the iteration get complete, If i click

[2015-09-23 14:10] fmaia opened #22 "Could not build module 'OneDriveSDK'"
Hi! I've installed the OneDriveSDK via cocoaPods using 'pod 'OneDriveSDK''.
However, i can't compile my project because it cannot build the OneDriveSDK.
The reason is that in the file: ODBusinessAuthProvider.h I get this error:

.../Pods/OneDriveSDK/OneDriveSDK/Auth/ODBusinessAuthProvider.h:23:9: 'ADAuthenticationContext.h' file not found

What should be the problem?

[2015-09-23 17:37] aclev commented on #21
Hi @James24 When you call the `getWithCompletion` method this returns an `ODURLSessionDataTask` that contains a cancel method.

[2015-09-23 17:44] aclev commented on #15
Hi @vincenttsai I will look into moving the default file location.  For now if you wish to change the location you can do so by creating you own `ODAccountStore` with the `[[ODAccountStore alloc] initWithStoreLocation:@"path/to/plist"]`  You can then set the default account store with `[ODClient setAccountStore:accountStore]` .  If you do this you must set the account store before you try and load

[2015-09-23 17:49] aclev commented on #16
Hi @manikkalra Thanks for the question!
Here is the documentation for our [sharing links](https://dev.onedrive.com/items/sharing_createLink.htm)
In the SDK this will look like other actions on items :

[code]

[2015-09-23 17:51] aclev commented on #22
Hi @fmaia
After you ran `pod install` did you open the .xcworkspace file it create instead of the .xcproj file?

[2015-09-23 19:18] ghost commented on #16
Thank you for your response! Will this link be public? If not, can I make it public?

[2015-09-23 19:42] aclev commented on #16
What are you trying to accomplish with the link?  The webURL is the url to access the file within the browser, anyone with the link can access it.

[2015-09-23 19:56] ghost commented on #16
I want to make sure other people can view it without having to log into OneDrive. Is that what you meant?

[2015-09-23 20:06] aclev commented on #16
Yes, this link will work for anybody (you do not need to be logged in)

[2015-09-23 20:24] ghost commented on #16
Thank you :)

[2015-09-23 20:24] #16 closed, assigned to aclev

[2015-09-23 20:34] aclev commented on #1
Closing the issue, please re-open if you are still having the problem.

[2015-09-23 20:34] #1 closed, assigned to aclev

[2015-09-24 00:50] vincenttsai commented on #15
@aclev It works as charm. Thanks for your help. BTW, I really love this SDK then LiveSDK. It's all block based and reduce a lot of code to achieve the same function. I spend a lot time to refactor from LiveSDK and I think it's worth. Thanks for your effort.

[2015-09-24 10:30] fmaia commented on #22
Hi @aclev! Thanks for your reply.
Yes. I've been using pods without problems. But for the OneDriveSDK I'm having this issue. The strange thing is that if I go through the pods folder for ADALiOS, the file is actually there. I don't understand what pods is doing but something is missing...

Moreover, it only exhibits the error if I actually add
  #import OneDriveSDK/OneDriveSDK.h

to my bridging fi

[2015-09-24 13:42] James24 commented on #21
Ya got it @aclev

Working fine :+1:

[2015-09-24 17:31] aclev commented on #22
Hey @fmaia thanks reporting the bug!  I didn't realize you were using swift.  I was able to reproduce it locally and I think I may have fixed the issue. Can you try changing your podfile to

[code]

And see if that fixes the problem?  Also as a quick note cocoapods now has swift support, if you include `use_frameworks!` at the top of the Podfile you won't  need to include a bridging file (cocoapod

[2015-09-24 17:33] aclev commented on #15
Thanks @vincenttsai!

[2015-09-24 21:17] tigernghk opened #23 "duplicate symbol problem"
I have followed the instruction to install pods. One question: Add the following to your Podfile : pod 'OneDriveSDK' => it means append pod 'OneDriveSDK' to the line of the file ?

When I open OneDriveSDK.xcodeproj and start build, it shows the following errors:

duplicate symbol _OBJC_CLASS_$_ODAADAccountBridge in:
    /Users/xxxxxxx/Library/Developer/Xcode/DerivedData/OneDriveSDK-acgkcrgmhevkjlg

[2015-09-24 21:24] aclev commented on #23
Hi @tigernghk
If you are adding the SDK to your own project you will need to follow the cocoapods getting started [guide](http://guides.cocoapods.org/using/getting-started.html).  In your own Podfile you must add `'Pod OneDriveSDK'` under your target section of your Podfile.  If you had an xcode project name "Foo" it would look like this :

[code]

After this you must run a `pod install`, cocoapod

[2015-09-24 22:42] fmaia commented on #22
Thank you @aclev for the fix and the very useful hints! The project is now compiling without errors.
btw this fix will be available in future versions of the API? in other words, are you able to estimate when may I use the main branch again?

[2015-09-24 22:50] aclev commented on #22
Hi @fmaia Glad it works! Yes it will be available soon, i'll update this thread when I've checked it in.

[2015-09-28 03:48] ghost opened #28 "App failing when trying to authenticate OneDrive"
My app keeps crashing and this is the stack strace:

ODServiceInfoProvider getServiceInfoWithViewController:appConfiguration:completion:], /XcodeProjects/Project/Pods/OneDriveSDK/OneDriveSDK/Accounts/ODServiceInfoProvider.m:45
2015-09-27 23:44:19.584 PhotoCal[8800:2364421] **\* Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid parameter not satisfying:

[2015-09-28 15:20] tigernghk opened #29 "Xcode Archive Project Problem"
I have added OneDriveSDK project to my app project. When I deploy my app to the device, it shows:

dyld: Library not loaded: ...../OneDriveSDK
Reason: image not found

Then I need to add OneDriveSDK.framework to embedded libraries. This problem is solved.

However, it causes another issue: after archiving project, OneDriveSDK.framework is attached to my app. OneDriveSDK.framework is "explicitly" s

[2015-09-28 16:51] aclev commented on #28
Hi @manikkalra Can you provide a little more detail about your project?  This Assert is making sure we have a root view controller to present on.  If we cannot find one (one wasn't provided or we don't have access to the root view controller of the application) it will assert here.  Are you using the SDK in an extension or watch kit by any chance?

[2015-09-28 16:56] ghost commented on #28
Thank you for your reply! I'm presenting a 'settings' view controller modally from my root view controller. And that 'settings' controller has the option to enable OneDrive. would that be causing the issue?

[2015-09-28 16:58] aclev commented on #29
Hi @tigernghk I'm investigating the issue now.  Is there a reason you have included the embedded framework instead of using cocoapods?

[2015-09-28 17:07] #21 closed, assigned to aclev

[2015-09-28 17:12] aclev commented on #28
When are you setting your appid and scopes?  In your app delegate?

[2015-09-28 17:13] ghost commented on #28
Yes, that's happening in my app delegate.
[ODClient setMicrosoftAccountAppId:@"appid" scopes:@[@"onedrive.appfolder"]];

[2015-09-28 17:16] aclev commented on #28
Are you explicitly setting the root view controller of the application after the call to set the appIds?

[2015-09-28 17:18] ghost commented on #28
Yes, I was doing something like that:

  [rootviewController.alloc init]...
  [ODClient setMicrosoftAccountAppId:@"appid" scopes:@[@"onedrive.appfolder"]];
    [self.window setRootViewController:rootViewController];
    [self.window makeKeyAndVisible];

[2015-09-28 17:19] aclev commented on #28
Ok, for now make that OneDrive call after you set the window.  I will work on a proper fix for this and it will be in the next release (along with your other reported issues).

[2015-09-28 17:21] ghost commented on #28
Yes, that worked for me! Thank you so much for your help :)

One last questions, since I have the scope set to be 'onedrive.appfolder'. Will OneDrive create a folder for my app automatically and upload to it, or will I have to do it manually using the API?

[2015-09-28 17:23] aclev commented on #28
Thanks for reporting the bug!
And yes, OneDrive will automatically create the app folder for you.

[2015-09-28 18:25] ghost commented on #28
So, I am able to present the login viewcontroller now. However, when I input my email and press 'Next', it simply shows me a blank screen and the console prints this:
NSURLSession/NSURLConnection HTTP load failed (kCFStreamErrorDomainSSL, -9802)

Can you help me with this please?

Edit: I have disabled ATFS entirely for now

[2015-09-28 18:27] aclev commented on #28
Yes, this is a different problem.  Apple has a new ATS standard in iOS 9, theres some info in the [README](https://github.com/OneDrive/onedrive-sdk-ios#note-ios-9-app-transport-security-ats) about it.  With instructions on how to disable it just for the one login page you need.  Note that this is a temporary fix.

[2015-09-28 20:21] ghost commented on #28
Okay that worked, however, I keep running into issues haha
- (ODItemRequestBuilder *)item:(NSString *)item
  {
  return [[ODItemRequestBuilder alloc] initWithURL:[self.requestURL URLByAppendingPathComponent:item]
                                                 client:self.client];
  }

This method causes the app to crash as 'item' is always nil

This maybe because I'm trying to upload an image on

[2015-09-28 20:25] aclev commented on #28
What are request are you trying to make?  Try taking a look at the [overview](https://github.com/OneDrive/onedrive-sdk-ios/blob/master/docs/overview.md) page for a little introduction to the SDK.

[2015-09-28 20:27] ghost commented on #28
Trying to make an upload request. This is my code:

[ODClient clientWithCompletion:^(ODClient *client, NSError *error){

[code]

[2015-09-28 20:39] aclev commented on #28
Item is always nil because you are passing in `imageFile.id` That property has not been set yet, you have only set the name of the file.  Item Ids are generated by the service and are unique.  You can use them once the item has been created but you cannot set them or tell the service what you want them to be.  It seems like you want to upload a new image.  The easiest way to do that is to call som

[2015-09-28 20:59] ghost commented on #28
Ah I see, I am trying that, however I keep running into this issue:

OneDrive SDK ERROR : Failed load to load fac2d9415d8cc5f6447258697c68e7b2 as current account

My app does not crash, but cannot seem to upload the image to the OneDrive account

[2015-09-28 21:05] aclev commented on #28
Above `[ODClient clientWIthCompletion...` can you call `[ODClient setLogLevel:ODLogVerbose]` and try again? This should produce some more information with the error.

[2015-09-28 21:07] ghost commented on #28
It says: No known class method for selector 'setLogLevel:'

I can put it inside the block however:

[ODClient clientWithCompletion:^(ODClient *client, NSError *error) {

[code]

.......

[2015-09-28 21:09] aclev commented on #28
Whoops, my fault try `[ODAppConfiguration defaultConfiguration].logger setLogLevel:ODLogVerbose]`

[2015-09-28 21:12] ghost commented on #28
Here's the log:

OneDrive SDK VERBOSE : Read account : fac2d9415d8cc5f6447258697c68e7b2 from accountStore
2015-09-28 17:11:46.406 PhotoCal[11311:2605168] ADALiOS: ERROR: Error raised: 11. Additional Information: Domain: ADAuthenticationErrorDomain ProtocolCode:(null) Details:Cannot read the items in the keychain. Error code: -34018. Query: {
    acct = ZmFjMmQ5NDE1ZDhjYzVmNjQ0NzI1ODY5N2M2OGU3YjI;

[2015-09-28 21:23] aclev commented on #28
It looks like ADAL is having issues reading from your keychain and upon further investigation it actually looks like an Apple Keychain bug! Heres a [reference](https://forums.developer.apple.com/thread/4743)
It looks like it is caused by accessing the keychain to soon after the app has launched, where/when do you call the clientWIthCompletion method?

[2015-09-28 21:27] ghost commented on #28
Huh, not sure what to do about that. After some messing around, it seems to work but I get this error:

clientWithCompletion is called when I actually try to upload a picture, or enable OneDrive in my settings viewcontroller. Neither should happen immediately after my app launching.

2015-09-28 17:24:39.116 AppName[11422:2612038] OneDrive SDK ERROR : Error from download response Error Domain=com.m

[2015-09-28 21:40] aclev commented on #28
OneDrive reserves a few characters for internal use, you can read more about it [here](https://dev.onedrive.com/misc/path-encoding.htm) Your filenames have the "|" character in them.

[2015-09-28 21:50] ghost commented on #28
Okay, i think I have it working now. Only thing left is creating a sharable link that is open to the public.

 [[[[[self.odClient drive] items:item.id] createLinkWithType:@"view"] request] executeWithCompletion:^(ODPermission *response, NSError *error) {
                            NSString *sharedLink = response.link.webUrl;
}........

I am using this. However, I cannot view the uploaded image as

[2015-09-28 22:01] aclev commented on #28
Can you share the link?

[2015-09-28 22:02] ghost commented on #28
https://onedrive.live.com/redir?resid=D94384CB0DE3EA4F!133&authkey=!AM-TIwFXSTetyPU

[2015-09-28 22:04] aclev commented on #28
Is it possible you unshared the item?

[2015-09-28 22:05] ghost commented on #28
I don't think so. here is my code:

[[[[[self.odClient drive] items:item.id] createLinkWithType:@"view"] request] executeWithCompletion:^(ODPermission *response, NSError *error) {

[code]

[2015-09-28 22:43] aclev commented on #28
It looks like there may be bug, I have been able to reproduce it.  I'm investigating now, I'll update the thread when I have some more info. Thanks @manikkalra !

[2015-09-28 22:53] ghost commented on #28
My pleasure!

And thank you again for being so helpful with my issues. Really appreciate it :)

[2015-09-28 23:05] tigernghk commented on #29
I have executed 'pod install' under OneDriveSDK folder.
And then I just drag and drop OneDriveSDK.xcodeproj to my app project.

Also, I need to remove "Copy Pods resources" in build phases of OneDriveSDK.xcodeproj. If not, XCode cannot generate iOS app archive (it generates xcode generic archive instead).

[2015-09-28 23:45] aclev commented on #29
I strongly recommend you use cocoapods to include the OneDriveSDK in your project, this will make sure it is easy to update to newer versions and easier to manage the dependencies the SDK has itself.  It seems you have already installed cocoapods it is very easy to setup and include the OneDriveSDK.
All you need to do is navigate to your .xcproj file in a terminal and run `touch Podfile`.  Then op

[2015-09-29 00:57] aclev commented on #28
We've identified the issue and are working on a fix now, it is not related to the SDK, but I will update the thread when the fix has shipped.

[2015-09-29 09:10] tigernghk commented on #29
It works fine if using cocoapods. Thanks.

[2015-09-29 22:21] #15 closed, assigned to aclev

[2015-09-29 22:21] #19 closed, assigned to aclev

[2015-09-29 22:24] aclev commented on #22
Hey @fmaia  This is in master and in release 1.0.4

[2015-09-29 22:24] #22 closed, assigned to aclev

[2015-09-30 18:54] unpluggedk opened #33 "Login screen always pops up for live accounts"
Hi there,
I am trying to create a simple app that does both live accounts and office accounts.
At the moment, when i log in using live accounts, it logs in but when i start the app, the information is not saved - thus new log in screen pops up every time.

This also happens in the included explorer.

It seems like the pod pulls the older version of the ADALiOS, is this intended?

Thanks

[2015-09-30 18:58] aclev commented on #33
Hi @unplugged, can you share how you are calling the login method? Can you also share what scopes you are using?

[2015-09-30 19:01] unpluggedk commented on #33
sure,
I set the client info with
    [ODClient setMicrosoftAccountAppId:@"XXXXXXX"
                                scopes:@[@"wl.signin",@"onedrive.readwrite", @"onedrive.appfolder"]];

and then use
     [ODClient clientWithCompletion:^(ODClient *client, NSError *error){ ...

to login.

[2015-09-30 19:03] unpluggedk commented on #33
just to add, it signs me in and i am able to get drives, but it just asks me to sign on everytime i restart the app

[2015-09-30 19:08] unpluggedk opened #34 "Error using Azure Active Directory"
When I use Azure Active Directory (with application permission to have all SharePoint Online permissions) and do
  [ODClient setActiveDirectoryAppId:@"XXXX" scopes:@[@"wl.signin",@"onedrive.readwrite", @"onedrive.appfolder"] redirectURL:@"https://specifiedredirect"];

it signs me in using Office 365 account, and the log in information is not required for each restart of the app.
However, it fails

[2015-09-30 19:46] aclev commented on #34
Hi @unplugged, those scopes you are using are for Microsoft Account, try using "MyFiles.readwrite", It seems you have found a bug in some error handling, this doesn't seem like the right error message.
Thanks!

[2015-09-30 19:49] aclev commented on #33
For persistent access to a users onedrive you must specify the "wl.offline_access" scope.

[2015-09-30 21:55] unpluggedk commented on #34
Thanks! it works!

[2015-09-30 21:55] unpluggedk commented on #33
Got it, verified working

[2015-09-30 21:55] #33 closed, assigned to aclev

[2015-09-30 21:56] unpluggedk commented on #34
Thanks it works, leaving it open as you've mentioned a error handling bug.

[2015-10-12 16:43] santanu4ver opened #45 "Storyboard missing in iOSExplorer!"
Xcode: 7.0.1

I'm having the following error when build:

/Users/shadow/Downloads/onedrive-sdk-ios-master/OneDriveSDK/Pods/ADALiOS/ADALiOS/ADALiOS/ADAL_iPad_Storyboard.storyboard: Interface Builder could not open the document ADAL_iPad_Storyboard.storyboard" because it does not exist.

I can see two .storyboard files are at Pods/ADALiOS/Resources, though. How should I fix this?

[2015-10-12 17:49] kmtbang opened #46 "Name conflict error during uploading file"
We're using the ios sdk to upload files. It works fine for a new file. but if we try to upload the same file again, the sdk will return a 409  error as follows: Error Domain=com.microsoft.onedrive.errors Code=409 "conflict" UserInfo={error= nameAlreadyExists : An item with the same name already exists under the parent, NSLocalizedDescription=conflict}

Here is the request we are using to upload th

[2015-10-13 05:58] ghost opened #47 "Get Progress without KVO"
Is there anyway to get upload progress without KVO? I am getting weird behavior when the app stays in the background too long. I remove the observer before I deallocate, but that doesn't seem to help. Closing the app and reopening fixes that issue.

[2015-10-13 10:15] rpassis commented on #45
Hi there it looks like you can safely remove those two files from the project as they have been replaced by a universal Main.storyboard which is included in the latest commit (under `Supporting Files/Base.lproj`).

I hope it helps.
Rog

[2015-10-13 11:38] santanu4ver commented on #45
That worked! Thanks!

[2015-10-13 11:38] #45 closed, assigned to nobody

[2015-10-13 12:49] rpassis opened #48 "App folder children request returns empty array"
I'm using the iOS SDK to authenticate with a "onedrive.appfolder" scope and query/download files within the application folder.

The request below works as expected:

[code]

However when I modify it to fetch the children items instead, the response received is an empty array:

[code]

If I try and fetch the items using an explicit path to the Apps folder, it works as expected and the array return

[2015-10-13 16:05] aclev commented on #46
Hi @kmtbang What happens when you try it without the name conflict?

[2015-10-13 16:07] aclev commented on #47
Hi @manikkalra the only way to get progress on an upload is with the NSProgress object on the upload task. Can you provide an example of how you are attaching the observer?  We can discuss other methods of obtaining progress for upload/download/async methods if you have suggestions.

[2015-10-13 16:12] aclev commented on #48
Hi @rpassis This seems like a bug with the API, I'm investigating now.

[2015-10-13 16:29] aclev commented on #48
Hey @rpassis I just realized that you have the wrong callback in your request.

[code]

Should be :

[code]

[2015-10-13 16:40] kmtbang commented on #46
The same error happened without specifying name conflict. We added the name conflict part after seeing the error,  hoping it will resolve the issue. but the same error occurs.

[2015-10-13 18:00] ghost commented on #47
This is how I am using it. The class I am using it is a shared instance. So, I needed to find a way to remove the observer without deallocating the class. Hence, I removed the observer right before I added it again (this method is called every-time I upload). Is there something I may be missing?

[code]

And here is how I remove the observer:

[code]

[2015-10-13 18:23] aclev commented on #46
It looks like this is a bug in our App Folders API.  To unblock you for now, is it possible you store the id of the item and use that to upload for future requests?

[2015-10-13 18:25] aclev commented on #47
Are you sure that the removeOberserver is getting called and not failing?  You are catching an exception and not doing anything with it.

[2015-10-13 18:35] ghost commented on #47
If the observer is not yet set up, I expect it to fail. However, the removeObserver call will crash the app if not caught, and hence the empty catch statement.

[2015-10-13 18:38] aclev commented on #47
You are calling removeOvserver before you have attached the observer.  You need to remove the observer after the upload is complete.

[2015-10-13 18:43] ghost commented on #47
Here's what I am doing now. I'll test it a little more (KVO stops working after the app has been in the background for a while)

[code]

[2015-10-13 18:54] rpassis commented on #48
Hi there

Thanks for investigating and apologies for confusing you by putting that code with the wrong callback. I am in fact using the correct one in code (otherwise the code wouldn't compile) and just modified the blocks above to illustrate my issue however forgot to replace it with the correct callback. I have done that now.

It looks like this is definitely a bug.

Rog

[2015-10-13 19:36] ghost commented on #47
So after some testing, the progress does not work after the app has gone into the background a few times. Any advice for me?

[2015-10-13 19:42] kmtbang commented on #46
we'll try that.

By the way, when we tried the same upload code to upload the file to  the app folder in a One Drive for Business account, the uploading of new files always returns error of "unsupported url" as follows:

:Error Domain=NSURLErrorDomain Code=-1002 "unsupported url" UserInfo={NSUnderlyingError=0x7fa83cc05770 {Error Domain=kCFErrorDomainCFNetwork Code=-1002 "(null)"}, NSErrorFailingUR

[2015-10-13 19:50] aclev commented on #46
Currently AppFolder isn't supported in OneDrive for business, it's on our radar and we are working on it.  I don't have a specific timeline for it yet.

[2015-10-13 22:28] kmtbang commented on #46
Hi,
   then for OneDrive for Business account , which folder can a third-party
app upload files to please?

2015-10-13 12:50 GMT-07:00 Ace Levenberg notifications@github.com:

[2015-10-13 23:27] rpassis commented on #48
To add more info to the above, here are the results of inspecting both the `NSHTTPURLResponse` and the JSON representation of the `NSData` received by the `NSURLSessionDataTask` (inside the SDK class `ODURLSessionDataTask`).

Based on the response received, it seems that this is a bug with the actual API and not the iOS SDK.

[code]

And the serialised JSON object:

[code]

[2015-10-13 23:29] aclev commented on #46
if you have read/write access you can upload to any of the users folders.

[2015-10-13 23:29] aclev commented on #48
Are you positive that the app folder contains children?

[2015-10-13 23:36] aclev commented on #48
You are right, there is a bug in the API.  We are working on a fix now.  I'll come notify you here when the bug is fixed.

[2015-10-14 03:31] kmtbang commented on #46
Hi,
   we tried to upload to "Documents" folder, but always get "unsupported
url" error. When we authenticate the app with an OneDrive for Business
account, we use the scopes: "MyFiles.readwrite". The auth completed without
any error. Is the scope the correct one to use?

 We tried two ways to upload to the "Documents" folder as follows, but got
the same "unsupported url" error.
1.  [[[[client dri

[2015-10-14 07:20] rgregg commented on #46
OneDrive for Business doesn't have a "documents" folder. Most users just treat the root of their OneDrive for Business as their documents folder, so you can just upload files directly there, or as a better alternative, create a new folder specific to the kinds of files you're uploading and upload them there.

[2015-10-15 19:47] #23 closed, assigned to aclev

[2015-10-15 19:47] #29 closed, assigned to aclev

[2015-10-15 23:41] ghost commented on #28
Any updates on the fix? I have a project deadline in 2 weeks thats dependent on the public link working, so it would be great to have a ETA :)

[2015-10-15 23:55] aclev commented on #28
Unfortunately, I don't have an ETA yet.

[2015-10-16 16:46] aclev commented on #47
I haven't been able to reproduce your issue here, Can you try setting self.uploadTask to nil after your remove the observer?

[2015-10-16 16:47] aclev commented on #28
As workaround is it possible you create a Folder in the Documents directory with your apps name and use this folder to upload and share files?

[2015-10-16 17:32] ghost commented on #28
Does that mean the shared links will work in the Documents folder?

[2015-10-16 17:33] ghost commented on #47
I will try that and let you know. Thank you!

[2015-10-16 17:34] aclev commented on #28
Yes, the bug is around displaying shared links from within App Folders.

[2015-10-18 21:56] rpassis commented on #48
Looks like this might've been fixed. Are you able to confirm @aclev?
Thanks,
Rog

[2015-10-19 18:46] aclev commented on #48
Hey @rpassis This has been fixed. Thanks for reporting the bug!

[2015-10-21 04:09] #48 closed, assigned to aclev

[2015-10-21 04:24] ghost commented on #47
I tired that but unfortunately it doesn't help :\

[2015-10-21 04:33] ghost commented on #28
Would that mean I need 'onedrive.readwrite' access?

[2015-10-27 05:24] vinceplusplus opened #51 "Item copying does not report progress and is holding completion handler indefinitely"
According to the documentation of how to perform item copying, https://github.com/OneDrive/onedrive-sdk-ios/blob/master/docs/items.md, we should be able to monitor the progress property of the returned task. However, it reported either 0 or 1 when I was copying a folder with 3 files inside (a total of 4 items). status.percentageCompleted in the completion handler doesn't help too (either 0 or 1).

[2015-10-27 05:29] vinceplusplus opened #52 "Lacking an example of resumable item upload"
According to the API reference, one should use resumable item upload when the size is larger than 100MB, but the current sample app lacks it. Will it be added in the future?

[2015-10-27 05:34] vinceplusplus opened #53 "Copying/moving items across drives under the same user?"
Is it allowed?

There is a driveId property inside ODItemReference, but the API reference said it's read-only (https://dev.onedrive.com/resources/itemReference.htm)

[2015-10-27 08:15] baoshiwei opened #54 "signout not work?"
[self.client signOutWithCompletion:^(NSError *error) {
        self.client = nil;
        if (error) {
            NSLog(@"注销失败");
        }else{
            NSLog(@"注销成功");
        }
    }];

I wait a long time ,but  signOut not work ,and can't see the NSLog .I also change wifi to Cellular network，not work too.
SDK version 1.0.5
my Cellular network and wifi is in China

[2015-10-27 15:59] aclev commented on #54
Hi @baoshiwei Can you call `[ODClient setLogLevel:ODLogWarn]` before you sign out and let me know what the SDK logs?

[2015-10-27 16:01] aclev commented on #53
Hi @vinceplusplus  You are correct the driveId is a read only property and you cannot change it, any property that is read only cannot be changed when updating a resource.

[2015-10-27 17:08] aclev commented on #52
Hi @vinceplusplus The SDK does not currently support resumable item upload directly however you can still use the SDK to create a resumable session and upload fragments to that session.

To do this you will first need to call

[code]

Send fragment would look something like:

[code]

Make sure to take a look at the resumable upload [documentation](https://dev.onedrive.com/items/upload_large_files.

[2015-10-27 17:15] aclev commented on #51
Hey @vinceplusplus Thanks for reporting the bug, I'm investigating now.

[2015-10-28 01:27] baoshiwei commented on #54
I try again,in the morning ,sign out work.   I will try it in the afternoon again,the same time of yesterday ,if not work again,I will call [ODClient setLogLevel:ODLogWarn]

[2015-10-28 08:38] baoshiwei commented on #54
I try ,and sign out is OK now,maybe the afternoon of yesterday something was wrong,but the SDK is OK,my English not good. Thank you.  @aclev

[2015-10-28 17:23] #54 closed, assigned to nobody

[2015-11-04 08:13] AniShah opened #56 "Unable to get user details and upload file"
Hi,

I'm able to authenticate user. But after authentication I want user's primary details. I didn't found any method or parameters of this SDK, through which I can get the details. Current scope is

[code]

Also, when I'm trying to upload file, I'm getting below error

**OneDrive SDK ERROR : Error from download response Error Domain=com.microsoft.onedrive.errors Code=405 "method not allowed" User

[2015-11-05 21:55] aclev commented on #56
Hi @AniShah See #5 for your first question. For your second request, you are trying to upload content to a folder, which is not allowed to upload a new item to a folder you can do :

[code]

[2015-11-06 02:00] aclev commented on #51
Hey @vinceplusplus, Thanks again for reporting the bug.  It seems that the monitor status api isn't updating the percentage correctly. This is a bug in the API and I will investigate further.  I have also found the memory leak in #58. It was related to what you said, but there was retain cycle with the data task that was created.  This is temporary fix for now.

[2015-11-10 00:00] #53 closed, assigned to aclev

[2015-11-16 23:58] #34 closed, assigned to nobody

[2015-11-16 23:59] #46 closed, assigned to nobody

[2015-11-17 00:00] aclev commented on #51
fixed via #62

[2015-11-17 00:00] #51 closed, assigned to aclev

[2015-11-17 00:00] #52 closed, assigned to aclev

[2015-11-17 00:00] #56 closed, assigned to nobody

[2015-11-23 20:13] todddcls opened #63 "Can't be used with OneDrive business accounts"
After logging in with a OneDrive business, making any request results in an assert failure in ODRequestBuilder initWithURL.  Here's the callstack when used with the example explorer app.

2015-11-23 12:07:52.297 iOSExplorer[72640:1748960] **\* Assertion failure in -[ODDriveRequestBuilder initWithURL:client:], /Users/tkr/Downloads/onedrive-sdk-ios/OneDriveSDK/OneDriveCoreSDK/Core/ODRequestBuilder.m

[2015-11-23 20:55] aclev commented on #63
Hi @todddcls Thanks for reporting the bug, Can you show me how you are setting your appid and redirect urls?
Thanks!

[2015-11-23 21:31] todddcls commented on #63
In ODXAppDelegate

[code]

I didn't see anything in the docs when registering the app that the redirect URL had to be anything specific.  Does it need to be?

[2015-11-23 21:36] aclev commented on #63
The redirect URL can be whatever you want, as long as the one used in the SDK is the same as the one you provided in the app registration process.  In the Azure Management Portal did you specify the any permission levels?

[2015-11-23 22:22] todddcls commented on #63
I hadn't specified the permissions.  That appears to have been the cause.  Sorry for the bother.

[2015-11-23 22:23] aclev commented on #63
If you haven't specified permissions, an error should be returned letting you know not asserting down the line.  I am going to re-open the issue to track the bug. Thanks again!

[2015-11-23 22:24] todddcls commented on #63
Yea, that would be helpful.  Thanks again!

[2015-11-28 10:33] James24 opened #64 "Getting problem on share url of file"
If we send create link request, getting error on response

ODItemCreateLinkRequest *createLinkRequest = [[ODItemCreateLinkRequest alloc] initWithType:@"view"  URL:[NSURL URLWithString:item.webUrl]                                                                                             options:nil  client:odclient];

 [createLinkRequest executeWithCompletion:^(ODPermission response, NSError erro

[2015-12-01 18:22] fischerdan opened #65 "Incorrect Date formatter"
The date's found in the dictionary defining an ODItem dates do not match what the NSDateFormatters used in NSDate+ODSerialization.h.

The current  date strings look like
**2015-11-02T21:09:32Z**
and the formatter is looking for
**yyyy-MM-dd'T'HH:mm:ss.SSSZ**
it should just be
**yyyy-MM-dd'T'HH:mm:ssZ**

[2015-12-04 22:13] aclev commented on #65
Hey @fischerdan
Thanks for reporting the issue, our date formats can sometimes have milliseconds. You can see the current pull request for a fix to handle both cases.
Thanks!

[2015-12-04 23:59] aclev commented on #64
Hi @James24 to get a sharing link you need to do something like

[code]

[2015-12-07 18:45] #65 closed, assigned to aclev

[2015-12-07 22:28] #63 closed, assigned to aclev

[2015-12-14 11:48] James24 commented on #64
thank u @aclev :+1:

[2016-01-25 20:40] tscholze opened #71 "Support for tvOS requested"
It would be great to use this Pod in a tvOS project. Is this new platform as a new target on your roadmap?

![Pod error](https://cloud.githubusercontent.com/assets/5583469/12563745/0e13d868-c3ac-11e5-9201-82d040e5c8b0.png)

[2016-01-26 03:07] jordandobson commented on #71
+1
On Mon, Jan 25, 2016 at 12:40 PM Tobias Scholze notifications@github.com
wrote:

[2016-02-03 19:31] #64 closed, assigned to nobody

[2016-02-17 20:57] kevklam commented on #71
Unfortunately this is unlikely to happen in the near future. The OAuth flow requires UIWebView, which is not supported on tvOS.

[2016-02-17 20:57] #71 closed, assigned to nobody

[2016-02-18 11:29] tscholze commented on #71
Thanks for you answer!

[2016-03-04 06:55] wisvijay opened #73 "App is not authenticating for business accounts"
Hi Team,

I am using this sdk to integrate my app with onedrive cloud.
I created the appId from [Application Portal](https://apps.dev.microsoft.com).

I am using the below code snippet for authenticating and login from my app.
`[ODClient setMicrosoftAccountAppId:@"xxxx-xxx-xxx-xxxx-xxxxxx" scopes:@[@"onedrive.readwrite"] ];
    [ODClient setActiveDirectoryAppId:@"xxxx-xxx-xxx-xxxx-xxxxxx"

[2016-03-11 12:10] fmaia opened #74 "ODURLSessionDownloadTask not reporting progress correctly"
Hi,

I've been trying to get progress info from OneDrive upload and download tasks. For the upload it is working fine. The download task however returns a NSProgress object that always reports "fractionCompleted" as 0.0. This happens even if the file is actually downloaded without errors.
Is this something known?

Thanks!

[2016-03-19 08:36] bchoudhary opened #75 "Disable or Remove 'Create Account' option from one drive authentication page"
I am trying to integrate onedrive for my ios app. I am using onedrive ios sdk for that. I am calling ODClient.authenticatedClientWithCompletion for launching authentication screen. This does launch authentication screen, and I am able to login. However in the authentication screen, both Sign In and 'No Account? Create One' option is visible. According to apple guideline an app will be rejected, if

[2016-03-21 01:07] rpassis opened #76 "OneDrive for Business - App folder name uses clientId instead of app name"
Hi all,

Not sure if this is an iOS SDK related issue but I thought I'd post it here in the hope that someone might be able to point me in the right direction.

We have an application that integrates seamlessly with OneDrive Personal accounts, and have started making changes to cater for OneDrive for Business accounts as well.

Syncing works as expected however we are experiencing an issue where t

[2016-03-24 03:24] SearchDream commented on #74
I have the same issue, after diving in the SDK code, I found totalBytesExpectedToWrite always -1 in the following code(which is in ODURLSessionManager):

[2016-03-24 10:38] pavanSaberjack opened #77 "Search API Query parameter doesn't have OR operator ?"
I was using Search API to fetch files. I wanted fetch specific type of files and get children API is time consuming and I have to recursively crawl through the folders.

Anything I can use to query such as  **query = 'abc OR xyz'** which would return me filename, metadata, and file content having **'abc'** or **'xyz'**. As I currently this is not possible for now.

Thanks

[2016-03-25 21:09] kevklam opened #78 "Query parameters not URL encoded"
A specific example of this is with searchWithQ:

[2016-03-29 23:13] formconnect-lefler opened #79 "[ODClient authenticatedClientWithCompletion:] never calls completion handler"
Hi,

We've developed an app which integrates the OneDrive SDK and a customer is experiencing a problem logging in. I am not personally able to reproduce the issue, as the app works correctly on my machine. However, the customer reports that they are presented with the login screen, they enter their credentials, grant our app access to their OneDrive, but then after the login screen closes, nothing

[2016-04-04 01:58] ntqnghianh opened #80 "Onedrive for Business - Cannot share file/folder: 403 “forbidden”"
I setup one iOS app in Azure Portal to integrate with OneDrive for business.

In "Permission to other app" we selected all permission for - Microsoft Graph - Office 365 sharepoint online - Window Azure Active Directory

I run iOS sample code in SDK and it works for almost functions accept for "Share file". Error: 403 "forbidden" UserInfo={error=notAllowed: The feature has been disabled. Please con

[2016-04-11 19:09] kevklam commented on #79
Hi @formconnect-lefler,

The major scenario that comes to mind would be if a network or service issue prevented the authentication view controller from getting the final redirect in the OAuth flow, or if the redirect were malformed. There is no timeout on the authentication flow, and it is only terminated either by the user pressing 'cancel' or by detecting a page load with URL matching the redire

[2016-04-11 23:49] kevklam commented on #76
Hi @rpassis,
I'm unable to comment on the naming behavior as that is a server-side subject. Speaking from a functional standpoint, the 'approot' special folder is meant to provide a consistent location unique to the app and it sounds like it is working as intended in that regard. If this is causing any specific problems for your application, please let me know and I will be happy to relay your fee

[2016-04-11 23:54] rpassis commented on #76
Hi Kevin,

Thanks for getting back to me. I agree with your assessment that this is a server side issue so wanted to see if you are able to put me in touch and send this to the team responsible?

The expected behaviour as per REST API documentation is that the first access request to the app folder will automatically create this folder using the app's name if it doesn't exist yet.

In our case, we

[2016-04-12 00:20] kevklam commented on #73
Hi @wisvijay,
The application portal you used to register your app is the V2 app portal. Unfortunately, the OneDrive SDK is currently using the Azure Active Directory V1 endpoint to authenticate Business accounts, which is not compatible with apps registered on the V2 app portal.

For instructions on registering your Business app via the V1 app portal, please refer to the following:
https://dev.on

[2016-04-12 00:20] #73 closed, assigned to nobody

[2016-04-12 00:59] #75 closed, assigned to kevklam

[2016-04-13 18:39] kevklam commented on #80
Hi @ntqnghianh,
Thanks for reporting this. This is a known issue caused by an API gap between OneDrive for Business and OneDrive for Consumer. Business requires an additional 'scope' parameter in the createLink method, which Consumer does not accept (and which the SDK request/model classes are generated from). We expect this API gap to eventually be closed, however I do not have any info on the ET

[2016-04-14 15:53] kreuli opened #84 "OneDrive for Business: first login attempt after entering wrong password fails"
The following issue happens when using the OneDrive SDK for iOS (version 1.1.2) in my own iOS app but the same behaviour can be seen with the OneDrive app from the App Store (version 6.13.3):
- Start to sign in to OneDrive for Business by entering a OneDrive for Business email address.
- In the upcoming screen, enter a wrong password -> login is rejected (correct).
- Enter a wrong password again -

[2016-04-14 16:35] kevklam commented on #84
Hi @kreuli,
I'm unable to reproduce this issue on my end. Is it possible that there's something funny going on with the onscreen keyboard and auto capitalization or something like that? Does this issue reproduce consistently for you across multiple different accounts?

Thanks,
Kevin

[2016-04-15 07:30] kreuli commented on #84
Hello Kevin,

after some testing with different devices and accounts it seems that the issue relates to tablet devices only and OneDrive for Business accounts:
- I can reproduce the issue with iPad mini retina and with iPad Air 2, but not with iPhones.
- I can reproduce the issue with OneDrive for Business accounts (tried one E1 account and one E3 account) but not with OneDrive for Personal use ac

[2016-04-19 21:55] friedtofu opened #85 "ODClient.loadCurrentClient() can get to a state where it can never load the current client."
**Repro step**:
- Sign in using MSA.
- Test to see if you can get ODClient.loadCurrentClient() simply by just calling it. (Good)
- Kill the app/re-start the app.
- Attempt to refresh the token or call anything that triggers “storeAccount” in ODAccountStore such as making the token expires so that it will automatically refreshes the token.
- Kill the app/re-start the app
- You can no longer access

[2016-04-19 22:51] #78 closed, assigned to kevklam

[2016-04-19 22:56] kevklam commented on #77
Hi @pavanSaberjack,
My apologies for the slow reply. Has your issue been resolved yet? My suggestion would be to try query='abc xyz' as this seems to have roughly the semantics you are looking for.

Due to #78, if you are using a commit prior to "06b51e2e90336fcc946f440cd58af5e84920a260", the query param would need to be encoded as "abc+xyz" or "abc%20xyz", or if you point your podfile at this com

[2016-04-19 23:09] kevklam commented on #77
Closing issue for now - please reopen if this needs further attention.

[2016-04-20 00:00] kevklam commented on #47
Hi @manikkalra,
I am closing this issue as it has been inactive for a long time - please reopen if this needs further attention.
Thanks!

[2016-04-20 00:00] #47 closed, assigned to nobody

[2016-04-20 22:27] kevklam commented on #74
Hi @fmaia  and @SearchDream, thanks for reporting this issue.

It looks like this is caused by the service sometimes returning the file contents with chunked transfer encoding, i.e. with no Content-Length header. When this occurs, totalBytesExpectedToWrite is -1 (**NSURLSessionTransferSizeUnknown**). The ideal long-term solution is for the service to always return Content-Length - I have forwarded

[2016-04-21 06:40] pavanSaberjack opened #88 "Search API is returning 0 results for Business User"
Search API is working well with personal account. But for business user (account type : ODADAccount) it always returning 0 results lately.

_Note:_ There few files with name "abc"
Code:
NSString *itemId = @"root";
ODItemSearchRequest *req = [[[self.client.drive items:itemId] searchWithQ:@"abc"] request];
[req executeWithCompletion:^(ODCollection *response, ODItemSearchRequest *nextRequest, NSError

[2016-04-21 06:58] pavanSaberjack commented on #77
@kevklam I tried setting query as 'abc%20xyz' and 'abc+xyz' and results are wrong. When I just tried query as 'abc' it gave more results than when i used 'abc%20xyz' OR 'abc+xyz'
Still not working as expected for me

[2016-04-21 18:38] kevklam commented on #88
@pavanSaberjack Thanks for reporting this, I am following up with the service team.

[2016-04-22 00:30] kevklam commented on #85
Hi @friedtofu, thanks for reporting this issue.

I'm unable to reproduce the issue as described above - my steps were as follows:
1) [ODClient clientWithCompletion], and in the completion block execute [[ODAccountStore defaultAccountStore] storeCurrentAccount:[client.authProvider accountSession]]
2) Kill the app
3) Launch the app again - upon launching, invokes "self.client = [ODClient loadCurrent

[2016-04-22 07:58] friedtofu commented on #85
Hi Kevin,
Do the same step as you have above. THEN call storeAccount: one more time then kill the app.
If you launch the app again, you will notice everything will fail.

There is a bug in ODAccountStore in especially this part:

[code]

the currentSession.accountId is lowercase due to the fact that the keychain saves it that way.
However, when you do attempt to find the 'current session' with the

[2016-04-22 08:07] friedtofu commented on #85
If it helps, look at the definition of this function in KeyChainWrapper
    [self.keychainStore addOrUpdateItem:accountItem error:&authError];

In the ADALib , they lowercase the accountItem userId , where the ODAccountStore serialize/deserialize the session as-in with full-case characters.

[2016-04-22 21:36] kevklam commented on #85
See the referenced PR. I still have not been able to reproduce the issue because the account ID's returned by the service seem to be lowercase for me already, but I believe this should resolve the issue you described.

Just to be sure - are the account ID's that you see hexadecimal strings, but uppercase? Or are they some other format altogether? If they are some other format I may need to follow

[2016-04-22 21:39] friedtofu commented on #85
An example string of what the account ID is this : AAAAAAAAAAAAAAAAAAAAAGK3KXtotU-qFymJnsZ7FUI
It doesn't look like hexadecimal since there are G and K ..etc
This breaks every single time the token refreshes, which I thought was pretty critical.

I ended up having to write my own custom AccountStore.

[2016-04-22 21:46] kevklam commented on #85
Agreed, this is pretty serious - I'm surprised we haven't seen it before. I will do some digging on my end.

[2016-04-25 15:57] petebarber commented on #71
This app (of mine) may be of interest: https://itunes.apple.com/us/app/photone/id1068952548?mt=8

along with the corresponding blogpost: http://petebarber.blogspot.co.uk/search/label/tvOS%20iOS%20swift%20%22Apple%20TV%22%20OAuth%20OAuth2%20iCloud%20KV%20Key-Value%20Photone%20OneDrive

[2016-04-27 20:04] kevklam commented on #76
I followed up on this with the service team and they were unable to repro the issue. Would you happen to have a disposable clientId/user you could provide privately that reproduces the issue?

Thanks,
Kevin

[2016-04-27 22:31] #74 closed, assigned to kevklam

[2016-04-28 22:59] kevklam commented on #88
Looks like this is a known issue on service side. The fix should be rolling out in the next few weeks, I will update here when it is fully deployed.

Thanks,
Kevin

[2016-04-29 16:09] rdv0011 opened #90 "iOS. authenticatedClientWithCompletion fails with error "Cannot add a new item in the keychain. Error code: -25243""
When I call the function authenticatedClientWithCompletion in order to log in with OneDrive for Business account it fails with the following errors:
1) Cannot add a new item in the keychain. Error code: -25243
2) Failed to login OneDrive with error: Error Domain=com.microsoft.onedrivesdk.autherror Code=1 "There was a problem logging you in" UserInfo={ODAuthErrorKey=Could not discover the api endpo

[2016-04-29 19:10] kevklam commented on #90
Hi @dmitryrybakov,
Thanks for reporting this. Are you doing anything special with regard to overriding the keychain access group?

[2016-04-29 20:02] rdv0011 commented on #90
Hello.
  I am not sure about overriding and why we would need it. The answer is highly possibly no. How it can be relevant?

Sent from my iPhone

[2016-04-29 20:27] kevklam commented on #90
I just wanted to check first that you don't have any special logic in your app for keychain sharing between apps which may affect this. The particular error code you are seeing is "errSecNoAccessForItem", returned by the OS call "SecAddItem" when there is an issue with keychain access group configuration. I will investigate to see if I can reproduce the issue.

[2016-05-04 17:59] rdv0011 commented on #90
Hi Kevin,
Here is my sample project on which I have managed to replicate the issue 2) [https://www.dropbox.com/s/u6o1rd79acslbrr/OneDriveTest.zip?dl=0](url)
I am wondering if it can be somehow connected with the configuration.

[2016-05-05 16:09] rdv0011 commented on #90
Hello Kevin,
   Have you had a chance to look through the sample I have provided?

[2016-05-05 21:24] tobihagemann opened #91 "Remote items and shared folders"
It seems to me that this SDK doesn't take remote items and shared folders into account, as it should do: https://dev.onedrive.com/misc/working-with-links.htm

I came across this issue, because `ODItem`'s `folder` property is nil for shared folders. It would be great if this SDK would handle shared folders properly. I'll implement on a workaround for my project in the meantime.

Edit: Maybe some fu

[2016-05-05 22:02] tobihagemann commented on #91
`ODItemRequestBuilder`'s `itemByPath:` method doesn't seem to work on shared folders either. I'm always receiving a response with an empty collection. That's too bad, I really liked this method.

But it works, if I use the `id` of `remoteItem` (which doesn't exist in this SDK yet, but I've implemented a category on `ODItem` as a workaround).

Maaan, I really wanted to avoid implementing an ID-base

[2016-05-05 23:22] kevklam commented on #90
Hi Dmitry,
Thanks for posting your sample - I was able to reproduce the issue as described.

The error being logged to the console indicates the access/refresh token is not being saved correctly to the keychain. This is not ideal, but in the very short term at least you should be able to use the ODClient object returned from authenticatedClientWithCompletion (it does not return any error even when

[2016-05-06 09:46] rdv0011 commented on #90
Thanks!

[2016-05-06 22:09] kevklam commented on #91
Hi @MuscleRumble,
Regarding shared folders - the service API returns all facets (including 'folder' as you discovered) as sub-properties of the 'remoteItem' facet rather than on the item itself.

Can you give an example of a failing query using itemByPath? I did a quick test against a shared folder and it returned the item including remoteItem facet as expected (at least in the JSON response - as

[2016-05-06 22:11] #90 closed, assigned to kevklam

[2016-05-06 22:34] tobihagemann commented on #91
Thanks for looking into it! Sorry, I wasn't clear enough. Now try to get the children of this shared folder by using the `children` method between the `itemByPath:` and `request` methods:

[code]

That doesn't work for me. I can't "navigate" inside a shared folder by its path.

[2016-05-06 23:14] kevklam commented on #91
Ah, gotcha. Yes, unfortunately that's less than convenient. I'll forward this feedback to the service team.

[2016-05-11 11:50] mobilekosmos opened #93 "Login site not being localized after language change in the iOS settings"
It looks like the language being used on App install is cached by the SDK in some way, because if I change the system language in the iOS settings and then in my App try to login to OneDrive again the login site is shown in the first language used while installing the App. After reinstalling the app the login site is shown in the right language.

Tested on ipad3 iOS8 and ipad mini iOS9

[2016-05-11 19:10] rdv0011 opened #94 "GET drive/items/root/children request fails with 400 "bad request" error."
Hi.

   I have initialized the ODClient with the parameter capability:"Directory". When I try to get the child items of the root element SDK shows me the next error:
OneDrive SDK ERROR : Error from data task : Error Domain=com.microsoft.onedrive.errors Code=400 "bad request" UserInfo={error= malformed : (null), NSLocalizedDescription=bad request}
2016-05-11 20:16:41.435 App-iOS2[1279:242395] OneDr

[2016-05-12 10:49] trzeciak opened #95 "OneDrive for Business: wrong address of serviceEndpointUri and serviceResourceId"
Hi all,
In our app we integrate a lot of external sources, among them OneDrive.

We are integrated with OneDrive (before SkyDrive) since a couple of years.
Last year, as it was asked by our users to support ODfB, we changed the SDK into OneDrive SDK (from CocoaPods, interference was the pod ADALiOS). It worked well.

However, since last month this integration stopped to work. Please see below deta

[2016-05-12 16:44] rgregg commented on #95
I'm investigating.

[2016-05-12 16:48] rgregg commented on #95
@trzeciak Are you using the SDK and getting this error, or does your app manually call the discovery service? If the latter, can you provide an example of the request you are making to the discovery service?

[2016-05-12 21:40] trzeciak commented on #95
Thank you for your interest.
Yes, i use SDK (https://cocoapods.org/pods/OneDriveSDK).
Maybe I will try to prepare a sample project with this error.

[2016-05-16 18:46] kevklam commented on #28
The fix has been deployed service-side.

[2016-05-16 18:46] #28 closed, assigned to kevklam

[2016-05-17 17:44] kevklam commented on #76
Closing due to inactivity

[2016-05-17 17:44] #76 closed, assigned to kevklam

[2016-05-17 21:03] kevklam commented on #88
The fix for this should be deployed.

[2016-05-17 21:03] #88 closed, assigned to kevklam

[2016-05-17 21:39] kevklam commented on #91
As of PR #96 remoteItem should be supported (will need to explicitly point pod at this commit until pod is versioned next)

[2016-05-17 21:39] #91 closed, assigned to kevklam

[2016-05-17 22:26] kevklam commented on #94
How are you getting this base URL: https://graph.windows.net/company.onmicrosoft.com/
Is this base URL being returned in the discovery process in ODBusinessAuthProvider? (see the completion block for [self discoverResourceWithAuthResult: completion:])

[2016-05-17 22:39] tobihagemann commented on #91
Alright, thanks! How about "navigating" through a shared folder by its path. Any update on this?

[2016-05-17 22:42] kevklam commented on #93
Hi @tererecool,
I was unable to reproduce the issue on an iPhone 5c running 9.3.1 using the following steps:
1. Run iOsExplorer sample app configured for either Microsoft Account or ActiveDirectory login
2. Click 'Sign in' - brings up login page in English
3. Double-tap the 'home' button and switch app to Settings
4. Change language to French
5. Double-tap the 'home' button and switch back to iOsE

[2016-05-17 23:12] kevklam commented on #91
I haven't heard back, but will post here when I do.

[2016-05-19 09:31] Ram-iOS commented on #28
Path (/Jump/App_1209404152//Users/fluxtech_macmini1/Library/Developer/CoreSimulator/Devices/CA367710-4A87-4DA4-92BF-EC954D2EADEE/data/Containers/Bundle/Application/143FF58A-1D32-46F5-8AFC-6165FBCF63A1/iOSExplorer.app/Test.mov) contains invalid leading character., NSLocalizedDescription=bad request}

getting error while uploading video to oneDrive

[2016-05-19 09:32] Ram-iOS commented on #28
please anyone help me

[2016-05-19 20:08] kevklam commented on #28
@ReusIosDeveloper This issue has been closed, please open a new issue if you need assistance.

[2016-05-19 21:27] rdv0011 commented on #94
The answer seems to be YES:
    "@odata.context" = "https://api.office.com/discovery/v2.0/me/$metadata#allServices";
    value =     (
                {
            "@odata.editLink" = "services('Directory@AZURE@v1.0')";
            "@odata.id" = "https://api.office.com/discovery/v2.0/me/services('Directory@AZURE@v1.0')";
            "@odata.type" = "#Microsoft.DiscoveryServices.ServiceInfo";

[2016-05-19 22:41] kevklam commented on #94
Thanks, I am following up on this. However can you provide a bit of context on why you are using Directory instead of MyFiles? If you are using services other than OneDrive, the [Graph SDK](https://github.com/microsoftgraph/msgraph-sdk-ios) may be more useful to you.

[2016-05-19 22:52] kevklam commented on #94
@dmitryrybakov,
The capability parameter is plumbed through directly to the Discovery service, and is used to specify which service you want to get URLs for - by specifying 'Directory' you are requesting that the discovery service return the AAD service endpoint instead of OneDrive, causing the SDK to make requests to the wrong API. For all intents and purposes with this SDK, 'capability' should a

[2016-05-20 06:20] rdv0011 commented on #94
Thank you for the response. I will check this information.

[2016-05-20 06:36] rdv0011 commented on #94
If I set the capability parameter  to the value "MyFIles" or do not set it at all I am getting the following error:
Could not discover the api endpoint for the given user.  Make sure you have correctly enabled the SharePoint files permissions in Azure portal., NSLocalizedDescription=There was a problem logging you in

[2016-05-23 15:32] rdv0011 commented on #94
@kevklam, Is there any update on this issue?

[2016-05-23 18:20] kevklam commented on #94
Sorry for the delay. Just to confirm, is your app registered on manage.windowsazure.com, or on apps.dev.microsoft.com? Apps registered on apps.dev.microsoft.com currently only work with the Graph SDK and not the OneDrive SDK.

[2016-05-23 19:17] rdv0011 commented on #94
Hi Kevin,

  How to check it?

[2016-05-23 19:40] kevklam commented on #94
Go to manage.windowsazure.com and login with your O365 credentials, then look for the following:
<img width="900" alt="screenshot 2016-05-23 12 32 23" src="https://cloud.githubusercontent.com/assets/16890026/15482165/01e05f3c-20e3-11e6-84b6-37b1e367fbe5.png">

Once the app is added (or already exists), click on it to configure it:
<img width="1040" alt="screenshot 2016-05-23 12 37 42" src="https:/

[2016-05-23 21:14] #79 closed, assigned to kevklam

[2016-05-23 21:16] kevklam commented on #95
Hi @trzeciak, were you able to prepare that sample project?

[2016-05-23 21:19] kevklam commented on #93
Hi @tererecool, just wanted to ping on this - are you still experiencing the issue?

[2016-05-23 22:36] trzeciak commented on #95
@kevklam,
Yes, almost.
Since I opened this thread, I started from the beginning.

First, we analyzed the registered application on the AzureAD.
Terribly frustrating was set permissions exactly for `Office 365 SharePoint Online`.
https://dev.onedrive.com/site-images/AuthScopesForSharePoint.png
It took a long time.
Previously we were using `Microsoft Graph`, and `Windows Azure Active Directory`.

Th

[2016-05-23 23:09] rgregg commented on #95
@trzeciak Inside the Azure AD portal, is your app configured to be a "Multi-tenant application"? From the brief description it sounds like it may not be configured that way.

[2016-05-24 05:33] mobilekosmos commented on #93
Hi, we definitely have this problem, and it is on our priority list for our next release, but it will take some weeks, I will update this when we found the problem.

[2016-05-24 09:44] trzeciak commented on #95
Yes, I have turned on "Multi-tenant application" option.

Ours application on Azure AD is **native**, and:

[2016-05-25 09:49] rdv0011 commented on #94
We have checked all steps. It seems that everything is correct. Unfortunately the authentication fails with the following error:
Code=1 "There was a problem logging you in" UserInfo={ODAuthErrorKey=Could not discover the api endpoint for the given user.  Make sure you have correctly enabled the SharePoint files permissions in Azure portal., NSLocalizedDescription=There was a problem logging you in

[2016-05-25 18:35] kevklam commented on #94
@dmitryrybakov, the correct capability is MyFiles. Just to verify, did you click 'save' at the bottom after adding the permissions? It's pretty easy to miss as it doesn't give any error/warning if you don't.
<img width="862" alt="screenshot 2016-05-25 11 29 22" src="https://cloud.githubusercontent.com/assets/16890026/15551715/1d4a313c-226c-11e6-9773-eb7b6d5b7597.png">

If that doesn't work, can yo

[2016-05-25 19:00] kevklam commented on #95
I'd like to make sure I understand you right:
- By 'account', what do you mean? I assume you have 2 separate O365 tenants - in each test are you trying to login to a tenant with a user registered on the same tenant, or from another tenant?
- By 'works' and 'does not work', you're referring to the same failure where after entering username/password it returns an error of "could not discover the api

[2016-05-26 03:53] NightDream2016 opened #99 "Build Failed On Case-Sensitive System"
Hi ,

I use cocoapod to integrate this SDK in our app, but it seems there are some error when building it.

/%OURPROJECTPATH%/Pods/OneDriveSDK/OneDriveSDK/OneDriveCoreSDK/model/ODAsyncOperationStatus.h:24:9: 'UIKit/UiKit.h' file not found

and I just search & replaced the string '**UIKit/UiKit.h**' with '**UIKit/UIKit.h**' in all files of this SDK , there will be no error and run successfully in o

[2016-05-26 10:55] rdv0011 commented on #94
I have double checked the permissions and also tried to create another app id, unfortunately with no success:
![azure-onedrive-1](https://cloud.githubusercontent.com/assets/4025952/15572397/0374797e-2349-11e6-90d8-21787badea4d.png)
As you suggested I am using the short for of the call:
 [ODClient setActiveDirectoryAppId:@"{your-app-id}"
                          redirectURL:@"{your-redirectURL}"];

[2016-05-26 11:39] rdv0011 commented on #94
I can send to you the credentials and app id. Is it possible to replicate this issue on your side?
If yes please provide an e-mail.

[2016-05-26 22:01] kevklam commented on #85
Issue should be resolved with latest commit - if it recurs, please reopen this issue. Thanks!

[2016-05-26 22:01] #85 closed, assigned to kevklam

[2016-05-26 22:06] kevklam commented on #99
Thanks for reporting this. If you have a set of changes that resolves the issue, would you mind forking the repo and creating a pull request? I can probably get around to making this change sometime in the next few days, but my system is not case-sensitive so I won't be able to test if the issue is resolved for you or not.

[2016-05-26 22:09] kevklam commented on #94
Thanks, you are correct - sensitive information should not be disclosed on this thread because it is public. Please send the information to:
kevinlam@microsoft.com

I will try to reproduce the issue and see what's going on.

[2016-05-27 12:25] Ram-iOS commented on #46
Error getting while uploading : Error Domain=NSURLErrorDomain Code=-1005 "The network connection was lost." UserInfo={NSErrorFailingURLStringKey=https://api.onedrive.com/v1.0/drive/special/approot:/iSting_27_May_2016_17_05_23%0APart-2.Mov:/content, _kCFStreamErrorCodeKey=-4, NSErrorFailingURLKey=https://api.onedrive.com/v1.0/drive/special/approot:/iSting_27_May_2016_17_05_23%0APart-2.Mov:/content,

[2016-05-27 12:26] Ram-iOS commented on #46
if m try to upload video by interval than m getting this error, and if m upload video without interval it will upload successfully ,

please help me

[2016-05-27 12:33] Ram-iOS commented on #46
The network connection was lost., _kCFStreamErrorDomainKey=4 , when try to upload video using interval

[2016-05-27 20:08] kevklam commented on #99
Fixed with #101

[2016-05-27 20:08] #99 closed, assigned to nobody

[2016-05-27 21:34] kevklam commented on #94
@dmitryrybakov I wasn't able to use your credentials as you did not provide a redirect URL - however I think I have discovered the problem while I was trying to create a test user in my own tenant for you to try.

It turns out that this same error is returned if the _user_ is unlicensed. Go to https://portal.office.com and refer to the following screenshots as a guide for setting up a license for

[2016-05-27 21:41] kevklam commented on #95
Hi @trzeciak, please refer to my last post in #94 - is the user you are trying to login with assigned a license in the Office 365 admin portal?

[2016-05-27 21:48] kevklam commented on #91
Unfortunately it looks like there is nothing planned in that regard in the short term, but it's been added to the growing "to-investigate" list of features :)

[2016-05-27 22:58] kevklam commented on #46
Please create a new issue if you have a problem. This issue has been closed.

[2016-05-27 23:08] tobihagemann commented on #91
Okay, I guess I have to work with IDs then. Thanks for the info!

[2016-05-28 00:38] kevklam commented on #80
Update:
The OneDrive for Consumer API has been updated service-side to accept the additional 'scope' parameter, which will be silently ignored. This fix will be deployed in the next few weeks.

Once the service metadata has been updated to reflect the new API signature, I will re-generate the request classes in the SDK with the relevant parameter.

[2016-05-31 13:16] alexandrhotko opened #102 "Upload file with cyrillic return 400 error"
I try to upload files throught call:
`[ [ [ [ client root ] itemByPath:@"Д.jpg" ] contentRequest ] uploadFromFile:[ NSURL fileURLWithPath:from ] completion:^(ODItem * item, NSError * error) { NSLog(@"%@", error); } ];`

When I try upload new file with name "Д.jpg", it return 400 error. Error disappears, if I change name to "Ф.jpg" or any other.

Strange problem. I use cocoapods.

[2016-06-01 00:38] kevklam commented on #102
There is a known unicode bug on service side that returns this error. The bug has been fixed and will be deploying sometime in the next few weeks.

However, I was unable to reproduce your specific issue (see screenshot) even though the fix should not be deployed yet.

<img width="633" alt="screenshot 2016-05-31 17 35 16" src="https://cloud.githubusercontent.com/assets/16890026/15694851/15a3e768-27

[2016-06-01 08:18] alexandrhotko commented on #102
The problem was reproduced within a week, but now it's gone. Error 400 doesn't appear.

[2016-06-01 18:49] kevklam commented on #102
Considering this as not reproducible - please reopen this issue if the problem comes back.

Thanks!

[2016-06-01 18:49] #102 closed, assigned to kevklam

[2016-06-02 08:11] gerchicov-bp opened #103 "Difference between this sdk and msgraph sdk?"
I need to add support for OneDrive in my app but I see **2! official sdks**.

Could you explain what is the difference from this repository?

https://github.com/microsoftgraph/msgraph-sdk-ios.git

The methods are similar and both sdks are official and from Microsoft.

And finally I think you should add the answer into your readme file.

[2016-06-02 10:07] gerchicov-bp opened #104 "How to upload a file/folder into a concrete path?"
I have a folder which may contain inner folders and files. And I need to upload it.

Doesn't SDK support folder uploading? Ok. I'll iterate through all the inner folders and files. But there are linked problems: I can't just use folder path - I need somehow to iterate between folders and files, to check if file/folder exists, to create folders which don't exist and to retrieve and assign their IDs

[2016-06-02 15:50] gerchicov-bp opened #105 "Import without cocoapods"
I have a project which can't contain cocoapods for some reasons. Could you advice how to import this library without them?

[2016-06-02 18:09] kevklam commented on #103
Microsoft Graph is a unified API exposing functionality from across all of Microsoft's online services. The Graph SDK is a client library for the Graph API, meaning you can use it to manage calendar, contacts, email etc. in addition to managing OneDrive files.

The OneDrive SDK is a client library for the OneDrive API, which is specifically for managing OneDrive files.

In terms of OneDrive usage,

[2016-06-02 19:08] #103 closed, assigned to nobody

[2016-06-02 19:14] kevklam commented on #105
Try cloning the repo and including the project as a subproject. It may need a bit of modification to header classifications to build in this way, but it should be a good starting point.

[2016-06-02 19:32] kevklam commented on #104
Unfortunately we do not have a sample for this at the moment. There are many different possible strategies for what to do when a file already exists.

Here's some tools that may be helpful:
- You can use the 'itemByPath' API to attempt to get the folder you are interested in, to see if it exists.
- You can specify to expand children on a given item, if you are only expecting the folder hierarchy t

[2016-06-03 22:55] #105 closed, assigned to nobody

[2016-06-03 22:56] #104 closed, assigned to nobody

[2016-06-03 23:08] kevklam commented on #77
@pavanSaberjack - Unfortunately it looks like there is no way currently to explicitly specify OR semantics.

According to the Search team, the semantics are as follows:
1. Use AND semantics on all search terms
2. If no search results are found, it reduces the number of search terms required to be matched by [relaxCount], which is currently defined to be 1, and re-searches.

I am still actively eng

[2016-06-03 23:08] #77 closed, assigned to kevklam

[2016-06-05 18:25] DimonDeveloper opened #106 "How "Sign In" more than one account?"
If one account already "Sign In" and use [ODClient authenticatedClientWithCompletion:^(ODClient *client, NSError *error)
I have this:
![img_0192](https://cloud.githubusercontent.com/assets/3527457/15807313/8ad669d2-2b63-11e6-90cf-2a5103287297.PNG)

I need to this for "Sign In" next account:
![img_0193](https://cloud.githubusercontent.com/assets/3527457/15807318/9fbd7836-2b63-11e6-9368-4e431cf5f97b

[2016-06-06 10:33] gerchicov-bp opened #107 "Bug with signOutWithCompletion"
`signOutWithCompletion` twice causes app to crash

[2016-06-06 15:04] gerchicov-bp opened #108 "Delay between dismissing auth VC and invoking completion"
For example login code: completion block is executed after dismissViewController. Actual result - broken UI. In my case `-[UITableView reloadData]` causes random bugs in table

[2016-06-06 18:53] rdv0011 commented on #94
Hi Kevin,
   The info you provided has helped a lot. Thanks. One more question which is not related to this topic: does this version of SDK support ordinary non-business accounts?

[2016-06-06 19:04] rdv0011 commented on #94
By now I am getting the error for the ordinary account: The operation couldn’t be completed. (ADAuthenticationErrorDomain error 15.)

[2016-06-06 20:54] kevklam commented on #94
Hi Dmitry,
Non-business OneDrive ("onedrive for consumer") login requires a slightly different auth process.

App registration for Consumer apps must be done on apps.dev.microsoft.com - make sure to add platform "Mobile application" and check the box "Live SDK Support" at the bottom. Then call:

[code]

If you call both **setMicrosoftAccountAppId:** (Azure Active Directory appID) and **setActiveDi

[2016-06-06 23:04] kevklam commented on #95
Closing due to inactivity - please reopen if you need further assistance.

[2016-06-06 23:04] #95 closed, assigned to rgregg

[2016-06-06 23:13] kevklam commented on #108
Please clarify what issue you are having. Are you seeing a bug, or are you just dissatisfied with how asynchronous callbacks work?

[2016-06-06 23:21] kevklam commented on #107
Please refer to the following pattern:

[code]

Once a client has been signed out, it is considered disposed and should not be used again. Instead use **[ODClient clientWithCompletion:]** or **[ODClient authenticatedClientWithCompletion:]** to create a new client.

[2016-06-06 23:52] kevklam commented on #106
Hi @DimonDeveloper, unfortunately we don't support multiple simultaneous users right now. Can you explain more about your scenario that requires this functionality?

[2016-06-07 07:06] DimonDeveloper commented on #106
HI @kevklam My app can work with cloud storages (download, upload, share etc.). If the user need to enter more than one account OneDrive I should give him that opportunity.

[2016-06-07 07:33] gerchicov-bp commented on #107
The problem is completion block is executed after the second call of `signOutWithCompletion:` so your code won't work. Only this code works:
`[self.client signOutWithCompletion:^(NSError *signOutError) {
    // perform any other post-signout actions
}
self.client = nil;`

But it seems it doesn't conform to your library style

[2016-06-07 07:55] gerchicov-bp commented on #108
In my case I want to call `reloadData` in the completion block. If I use your code then it seems delegate methods `numberOfSections` and `numberOfRowsInSection:` are called normally. But `cellForRowAtIndexPath` is called with a huge delay. The only reason I see is I try to reload table at the same time you want to dismiss view controller.

And the only solution I see is to fix `authorizationFlowCo

[2016-06-07 17:29] kevklam commented on #106
If it is critical to your app, you may be able to get the behavior you want by selectively clearing cookies in NSHTTPCookieStorage before login (or clear all of them to be sure, though that will remove cached credentials for all other services too). However, this scenario has not been tested in the SDK as it is not supported functionality. Additionally, we can't make any guarantees on forward comp

[2016-06-07 17:29] #106 closed, assigned to nobody

[2016-06-07 17:45] DimonDeveloper commented on #106
`NSHTTPCookieStorage *cookieStorage = [NSHTTPCookieStorage sharedHTTPCookieStorage];
for (NSHTTPCookie *each in cookieStorage.cookies) {
[cookieStorage deleteCookie:each];
        }`

@kevklam This has helped to add a new account but the second replaced the first. And now i can not "Sign In" in the first account.

If i check `[ODClient loadClients];` it's shows array only with second account.

[2016-06-07 18:12] kevklam commented on #108
To clarify - the 'broken UI' that you mention is that there is a long delay between dismissing the webview and invoking the completion block? If I am understanding correctly, you're right - this is not a great user experience. However, the completion block must not be invoked before getTokenWithCode completes because the client will have nil accountSession and requests will fail with an error.

Th

[2016-06-07 18:15] kevklam commented on #107
Thanks, will investigate.

[2016-06-07 18:30] kevklam commented on #106
I don't have time to investigate adding this support right now, but if you want to try debugging the issue yourself you may want to put breakpoints in ODAccountStore.m in the following places:

[code]

[2016-06-07 20:47] kevklam commented on #94
Closing - please open a new issue if you need anything further.

[2016-06-07 20:47] #94 closed, assigned to kevklam

[2016-06-08 00:19] spencer-microsoft opened #109 "Tapping twice on allow permissions button causes error"
If the user signs in successfully and is presented with the permissions list ("Let this app access your info?") and taps on the "Yes" button twice, it always dismisses the controller and fails with an error.

**Error**
"OneDrive SDK ERROR : Error reading code from response"
"The operation couldn’t be completed. (com.microsoft.onedrivesdk.autherror error 1.)"
"ODAuthErrorKey" : "https://login.live.

[2016-06-08 00:26] spencer-microsoft commented on #109
![simulator screen shot jun 7 2016 5 26 31 pm](https://cloud.githubusercontent.com/assets/17574361/15879012/fa94fd7a-2cd4-11e6-9488-d98b5d0fe0a9.png)
Recreated the issue in the example project

[2016-06-08 07:28] gerchicov-bp commented on #108
In both cases it requires to edit/override inner library methods. And it looks like a bug because it may break any UI elements appearance and animation.

[2016-06-08 08:05] gerchicov-bp opened #110 "Feature request. Handle task cancel state before executing of completion block"
Response doesn't contain `ODURLSessionTask` param so I need to write additional code to handle cancel states. The reason is if you run mostly one task per time then `-[ODURLSessionTask cancel]` by default is useless - it has influence only if the task is not executed yet.
Any "Cancel" visual buttons by default are useless too because you can't cancel the current operation.

[2016-06-08 09:52] gerchicov-bp opened #111 "Bug with timeout on requesting item collection"
Every request may cause authentication error. And it requires enough much code to handle authentication error in each request completion block.

[2016-06-08 12:58] gerchicov-bp opened #112 "Errors uppercase/lowercase mismatch with service"
Now I get authentication error. But I can't handle it properly. Error info:
`Error Domain=com.microsoft.onedrive.errors Code=401 "unauthorized" UserInfo=0x196115d0 {NSLocalizedDescription=unauthorized, error= unauthenticated : Must be authenticated to use '/drive' syntax}`

And I should invent new methods how handle it properly because:
1)the error is about authentication. Why `-[NSError isAuthCan

[2016-06-08 17:49] kevklam commented on #110
Please clarify this request. Which methods are not returning an appropriate ODURLSessionTask?

[2016-06-08 18:05] kevklam commented on #112
The authentication error is probably because of your modification to call the completion block immediately instead of waiting for the token request to complete. The auth provider does not have an OAuth token yet.

isAuthCanceledError returns YES if the user pressed 'cancel' - i.e. "is this error telling me that auth was canceled?". Also, 'authentication error' refers specifically to failures that

[2016-06-08 18:06] kevklam commented on #111
Please refer to comment in other issue regarding authentication error. I believe this is because of your local change to the auth completion flow. In its unmodified state the SDK should always have a valid auth or refresh token, and when the auth token expires will automatically perform refresh.

[2016-06-09 08:18] gerchicov-bp commented on #110
Sorry the trouble was with my code

[2016-06-09 08:18] #110 closed, assigned to nobody

[2016-06-09 09:01] gerchicov-bp commented on #112
No, my modification fixes the incorrect order. Now it is exactly the following:
1)getToken
2)completion block (except of its dispach_async blocks)
3)dismissViewController

In your version (2) and (3) may be executed in any order and even simultaneously.

Sorry I meaned `isAuthenticationError`.

I don't know exactly how to reproduce that error - it just fails authentication through some time. But e

[2016-06-09 09:09] gerchicov-bp commented on #111
I have found a solution but it doesn't involves code. I just changed the app id in `+[ODClient setMicrosoftAccountAppId:scopes:]` to a new one. The old key looks like your one in examples (but the numbers are different) and the new key is totally different because it is longer and includes hyphens/dashes.
So what is the difference for the application when I just change this key? Does it use anothe

[2016-06-09 09:26] gerchicov-bp opened #113 "Feature request. Download multiple files and folders?"
As I understand API doesn't include this feature and this sdk can't do this too

[2016-06-09 13:56] gerchicov-bp opened #114 "Feature request. Download into the specified path"
Currently the library defines by itself where to store the file. Then app should move the file by itself.

What about to mix 2 actions into one - download to the specified path at once?

[2016-06-09 17:23] kevklam commented on #114
Download uses [NSURLSessionDownloadTask](https://developer.apple.com/library/ios/documentation/Foundation/Reference/NSURLSessionDownloadTask_class/) behind the scenes, which stores the file in a temporary location.

[2016-06-09 17:23] #114 closed, assigned to nobody

[2016-06-09 17:37] kevklam commented on #112
Just to make sure I understand correctly, does the error tend to occur immediately after login or after the app has been running for some time? If the latter, would you mind checking the following:
- In ODAuthHelper.m, in +(BOOL)shouldRefreshSession - verify session.refreshToken is not nil
- Log [session.expires timeIntervalSinceNow] - when you get the 401, does this time difference look suspiciou

[2016-06-09 17:48] kevklam commented on #113
What is your desired behavior? Downloads via HTTP GET operate on single files.

[2016-06-10 07:35] gerchicov-bp commented on #114
ok, what about to add additional param "save path" which will allow to library to move a file to the desired folder by itself without extra code in app?

[2016-06-10 07:48] gerchicov-bp commented on #113
Ok, I speak about something like the following:

[code]

You pass to library an array of items (for example item ids/paths) and two blocks - first block is called after the downloading of each file the second block is called after the downloading of the whole item collection. Maybe the similar method is needed for uploading

[2016-06-10 07:50] gerchicov-bp commented on #111
Finally the different key works better but it doesn't completely resolve the trouble with frequent timeout errors

[2016-06-10 13:59] gerchicov-bp opened #115 "Handle removed resource?"
`Error Domain=NSURLErrorDomain Code=-1100 "Запрошенный URL на этом сервере не обнаружен." UserInfo=0x19eabf30 {NSErrorFailingURLKey=https://api.onedrive.com/v1.0/drive/items/97C820BCD766E514!172/content, NSErrorFailingURLStringKey=https://api.onedrive.com/v1.0/drive/items/97C820BCD766E514!172/content, NSLocalizedDescription=Запрошенный URL на этом сервере не обнаружен.}`

Steps to reproduce:
1)get

[2016-06-10 17:37] kevklam commented on #113
We have been considering creating a library of extensions to make tasks like this more convenient - I will add this to the list of suggestions if we do produce such a library. In its current state though, the SDK is mostly just a client library with 1:1 mappings between the requestbuilder/request pattern and direct API calls so such a modification is not suitable for inclusion (the request/request

[2016-06-10 17:37] #113 closed, assigned to nobody

[2016-06-10 17:46] kevklam commented on #111
Is the timing out a separate issue from the authentication errors? When do the timeouts occur, during authentication or when making other requests?

Regarding app ID, the app registration endpoint has made some changes recently and one of the differences is that newly created apps get the new type of key (with hyphens). It still makes requests against the same servers, but processing the ID will g

[2016-06-10 19:42] kevklam commented on #109
Will forward to the ID team. I attempted a workaround for this by adding a couple seconds of hysteresis on form submission in shouldStartLoadWithRequest, but apparently that blocks the redirect hop immediately afterward.

[2016-06-11 00:39] kevklam commented on #115
Test case:

[code]

Output:

[2016-06-11 00:41] kevklam commented on #109
Closing issue here as it is being tracked internally by ID team

[2016-06-11 00:41] #109 closed, assigned to nobody

[2016-06-11 18:25] Gargo opened #117 "Can't import via cocoapods"
podfile:

[code]

Unable to find a specification for `OneDriveSDK`

[2016-06-11 19:14] kevklam commented on #117
Sounds like your cocoapods spec repo got out of date somehow - Try 'pod setup' and see if that fixes the issue for you.

[2016-06-12 04:27] Gargo commented on #117
almost and it is doesn't depends on this repository only. "pod setup" is not enough. I used:

[code]

but anyways I can't understand what was the mistake

[2016-06-12 04:53] #117 closed, assigned to nobody

[2016-06-13 07:32] gerchicov-bp commented on #111
sorry I'm out of time. I'll try it later. But anyways it happens frequently with the key from you example

[2016-06-13 08:34] gerchicov-bp commented on #115
Yes, but `getWithCompletion:` returns just general info about file. I  meaned **request to download** this file: `downloadWithCompletion:`

[2016-06-13 20:46] friedtofu opened #118 "Bug with setActiveDirectAppId:resourceId:apiEndpoint:redirectURL:"
This function passes in the wrong param for **redirectURL**. It passes in the **activeDirectoryResourceId** instead of the **activeDirectoryRedirectURL**

[code]

[2016-06-14 16:05] gerchicov-bp opened #119 "ARC directives needed"
It is hard to import this library as sources in MRR (non-ARC) project because you should add `-fobjc-arc` flag for each file. Would you mind adding the following macro into each file?

[code]

It prevents memory leaks in MRR project

[2016-06-15 17:42] kevklam commented on #107
Should be fixed with #116

[2016-06-15 17:42] #107 closed, assigned to kevklam

[2016-06-15 22:33] kevklam commented on #115
Updated test case:

[code]

Output:

Are you attempting to perform downloadWithCompletion on the item itself? This is not a valid operation, download must be performed on the contentRequest.

[2016-06-16 07:30] gerchicov-bp commented on #115
I have the same code and just few days ago it gave an undefined error I mentioned above. So it was server error and now I should close issue

[2016-06-16 07:30] #115 closed, assigned to nobody

[2016-06-17 12:58] gerchicov-bp opened #121 "How to use refresh_token (refreshToken in app)?"
According to documentation I can use this token instead of requesting username and password:
https://dev.onedrive.com/auth/msa_oauth.htm
How to use it in this sdk? There is no info about it

[2016-06-17 17:53] kevklam commented on #121
If you're referring to the token you get by clicking "Get Token", this is a temporary token for experimenting with the API. You can use something like Fiddler/Charles to craft an HTTP request using this token for authentication.

[2016-06-20 07:35] gerchicov-bp commented on #121
I mean I was asked why users should relogin too frequently with new sdk (I just take them to login page when the app gets auth error). But in the same time I read that there is `refresh_token` in new API which maybe allows to "relogin" user without of requesting username and password again.
So did I write a correct code and sdk doesn't allow to "keep the auth session" for a long time? Or are there

[2016-06-20 20:14] kevklam commented on #121
This should have been handled automatically by the SDK, it sounds like a bug either in the SDK or in the service (perhaps the refresh token is not being returned as it should be). I don't have time to debug this right now, but will mark it for investigation.

[2016-06-21 07:39] gerchicov-bp commented on #121
Could it be fixed if I simply set the expiration date of the session to 1 hour (currently it is 1 day)?

[2016-06-21 14:42] gerchicov-bp opened #122 "Chunked Upload Support"
I created a temp file (creates file of size 107Mb):
`mkfile -n 107m 1.rar`

I try to upload it and it works but in the completion block I always get a random error. Examples of errors:
`...2.rar, error: Error Domain=NSCocoaErrorDomain Code=3840 "JSON text did not start with array or object and option to allow fragments not set." UserInfo={NSDebugDescription=JSON text did not start with array or ob

[2016-06-21 15:15] gerchicov-bp commented on #122
json parser can't parse response from microsoft because ... it is html?!

`<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'><html xmlns='http://www.w3.org/1999/xhtml'><head><meta content='text/html; charset=utf-8' http-equiv='content-type'/><style type='text/css'>body {font-family:Arial; margin-left:40px; }img  { border:0 none

[2016-06-21 15:50] gerchicov-bp commented on #122
finally I have found the following on the official websiite:
https://dev.onedrive.com/items/upload_put.htm

As I understand you use this "simple upload" method. And other types are not implemented, aren't they?

[2016-06-21 18:41] kevklam commented on #121
The expiration date returned by the service is for informational purposes only. The access token will not work to authenticate requests after it has expired.

[2016-06-23 23:19] #118 closed, assigned to kevklam

[2016-06-23 23:29] #108 closed, assigned to kevklam

[2016-06-24 22:10] kevklam commented on #121
Please specify the 'offline_access' scope when configuring auth. For example:

[code]

[2016-06-24 22:10] #121 closed, assigned to nobody

[2016-06-29 18:51] chaseholland opened #123 "Can't find Adal Headers"
ADALiOS headers are imported as user headers instead of framework headers.

ie `#import "ADUserInformation.h"`

instead of `#import <ADALiOS/ADUserInformation.h>`

which causes issues when linking this as a pod. A temporary workaround is adding ${PODS_ROOT}/*\* to USER HEADER SEARCH PATHS in the OneDriveSDK build settings and turning on Always Search User Header Search Paths.

[2016-06-29 18:53] chaseholland opened #124 "Update ADAL"
ADAL is v1.x and ADAL is now on v2.

[2016-06-30 05:42] gigades opened #125 "App keep refreshing account session if the current account session is expired"
It seems [ODAccountStore storeAccount] does not assign new session to the currentAccountSession variable when it is called by [ODBaseAuthProvider refreshAndStoreAccountSession] so the expired session will keep being checked instead of the new one.

[2016-06-30 07:26] gigades opened #126 "ODURLSessionDownloadTask.progress is 'nil' after calling [ODItemContentRequest downloadWithCompletion]"
In case of current account session need refreshing, after calling [ODItemContentRequest downloadWithCompletion], the value of [ODURLSessionDownloadTask.progress] will still be 'nil' until account session has been refreshed so there is no way to add observer to the progress property.

[2016-06-30 17:09] wang2nd opened #127 "user_id/authentication_token?"
If using Microsoft Personal Account to sign in from a Mobile App through the windows live authentication,
within the token response we get, there is not any authentication_code according to Windows Live OAuth2 Response Parameters definition(https://msdn.microsoft.com/en-us/library/hh243647.aspx#response), instead we got the user_id, it is not a JWT token, the value is something like "AAAAAAAAAAAAA

[2016-06-30 18:00] kevklam commented on #127
When using Microsoft Account authentication, the user_id is an opaque string uniquely identifying the user. The access_token is an opaque token appended to requests made to the service for authorization. Neither of these should be interpreted by the application other than as described, as their formats are not documented or guaranteed to remain the same.

It sounds like you are asking about OpenID

[2016-06-30 20:54] wang2nd commented on #127
Thanks a lot Kevin for the reply! Yes, we are trying to looking for the OpenID idtoken equivalent in the Microsoft Account Authentication.
- For AzureAD Authorization, it has been already supported even if in the v1.0 authentication endpoints described in https://login.microsoftonline.com/common/.well-known/openid-configuration;
- For Microsoft Account Authentication on Web Application, in fact fo

[2016-07-01 22:31] kevklam commented on #125
Thanks, I've merged your PR.

I'm a bit curious about how you have your client/auth provider set up. Are you creating a new client/authprovider for every request? It looks to me like there shouldn't be a problem in the typical case where the client/authprovider is created once and kept around until the user signs out - The check [ODBaseAuthProvider shouldRefreshSession:] looks at self.accountSessi

[2016-07-01 22:50] gigades commented on #125
Thank you for accepting PR.

Your assumption is correct. My app lets users schedule downloading jobs from many kinds of cloud storages (Google Drive, OneDrive, Dropbox, etc.) so I design the app to dispose resources related with that job after it is finished and recreate it when necessary.

[2016-07-05 16:18] wang2nd commented on #127
Another interesting update. For the Microsoft client (client id **0000000048160AF8**) used by the iOSExplorer example, I can not get Authentication Token even if with the raw HTTP API instead of the the library;  But from the Microsoft client (client id **000000004C146A60**) used by One Drive SDK for Android example, I can get the Authentication Token back.

It looks like the root cause is on the

[2016-07-05 18:17] wang2nd commented on #127
Last update, in fact if we request the openid scope together with other scopes, we will get the ID token back as v2, even with your library, although the library does not expose it in the AccountSession class. You can expose this since the live api backend has already support v2. I really hope you can expose it so that I don't need to keep the changes in my local or my forked repo and just use you

[2016-07-05 20:12] wang2nd commented on #127
Last update, in fact if we request the openid scope together with other scopes, we will get the ID token back as v2, even with your library. The actual accountId returned here will be the id_token, just like Microsoft work account for One Drive for Business. So everything looks fine.

For the MSGraph SDK, there is an msgraph-sdk-ios-nxoauth2-adapter to use, but it does not work well with my Swift

[2016-07-05 20:15] wang2nd commented on #127
This issue can be closed since the the accountId in the AccountSession object for Microsoft Personal Account will stand for
- user_id if you dont request the openid scope
- id_token if you request the openid scope

[2016-07-05 20:15] #127 closed, assigned to nobody

[2016-07-06 15:18] kreuli opened #129 "Download of file ranges does not work"
I want to download only parts of a file. For that I have created a subclass of ODRequestOptions to add the needed range to the download request header. So far so good. Problem is that the OneDrive server correctly returns HTTP status 206 for the successful partial download but ODURLSessionDownloadTask only accepts code 200 for success and does not return the downloaded content.

The fix is simple:

[2016-07-07 21:07] kevklam commented on #129
Thanks, merged your fix.

[2016-07-07 21:07] #129 closed, assigned to nobody

[2016-07-07 21:07] #125 closed, assigned to nobody

[2016-07-07 21:13] kevklam commented on #111
Are you still having issues with timeouts? Can you provide more information on what operations cause timeouts?

[2016-07-08 07:36] gerchicov-bp commented on #111
I haven't used the old key so it doesn't occur so often. But timeouts occur at very random random requests. I can list the requests I have in my app only:
- login
- get items in folder
- download
- upload
- delete

[2016-07-18 16:49] rdv0011 opened #132 "SSL Error on authorization"
Hello.
On Authentication step I have faced with the following error:
[The link](https://app.box.com/s/6j79mojwtwewdtytyrly0lp12c9mqryp)
Could you please help me to find out the root cause?
As I understand it might be connected with the ATS on iOS, but this features is turned off by setting arbitrary loads property in the plist file.

[2016-07-25 04:59] socoboy commented on #80
@kevklam
Hi sir, any update on this? Could you let we know when will it can be updated?

Thanks :)

[2016-07-30 00:35] kevklam commented on #132
Hi,
Are you still having this issue? Do you have a sample project that can reproduce it?

[2016-07-30 03:49] rdv0011 commented on #132
Hi Kevin,
  The issue still exist, but I should create a sample app to replicate it. I will share it with you once it will be ready.

Sent from my iPhone

[2016-08-02 02:26] brandonpollack23 opened #133 "Can't import .kbdx files into minikeepass"
this works in dropbox but not in the OneDrive application

[2016-08-02 22:41] kevklam commented on #133
Please raise this as a request at https://onedrive.uservoice.com/ instead.

[2016-08-02 22:41] #133 closed, assigned to nobody

[2016-08-05 01:22] kevklam commented on #80
Apologies for not updating on this issue. It turns out createLink is not supported yet on folders for OneDrive for Business (however, it can be called against individual files). Folder sharing is under development, but I can't provide an ETA.

Thanks,
Kevin

[2016-08-05 01:23] kevklam commented on #84
Closing as this has been filed to the ID team's internal issue tracker.

[2016-08-05 01:23] #84 closed, assigned to kevklam

[2016-08-05 01:25] kevklam commented on #93
Closing this issue for now, please reopen if you are able to provide more repro information.

Thanks,
Kevin

[2016-08-05 01:25] #93 closed, assigned to kevklam

[2016-08-05 01:26] kevklam commented on #123
Should be fixed now.

[2016-08-05 01:26] #123 closed, assigned to kevklam

[2016-08-05 01:26] kevklam commented on #126
Should be fixed now, thanks for reporting/investigating!

[2016-08-05 01:26] #126 closed, assigned to kevklam

[2016-08-22 03:11] slunlun opened #137 "why loadClients always return nil?"
I have auth OneDrvie by call [ODClient clientWithCompletion], after that, when I call loadClients, it always return nil.
I have notice that the OneDrive account info will be stored in Onedrvie.plist, but I did not see the file on disk after I have author my OneDrive account.

[2016-08-23 06:20] slunlun opened #138 "The accessToken expired time get from sdks is too short"
Hi, I am writing APP about OneDrive, and store the account session on local disk. I notice that the account session get from SDK do not have refresh token, so I can only use the access token for very short time.
Is there anyway to get account session with refresh token by iOS SDK?

[2016-08-25 00:59] nalexander50 opened #139 "(Swift) Could not build module 'ADALiOS' when installing from Cocoapods with use_framworks!"
I am trying to use a Swift framework alongside OneDriveSDK in my new Swift project. After adding the `use_frameworks!` flag in my Podfile and installing, my build fails. The first error is that the module ADALiOS could not be built. The highlighted line is

`#import "ADUserInformation.h"`

Secondly, `ADPersistentTokenCacheStore.h` also fails to build. There are a number of cryptic error messages s

[2016-08-25 18:30] kevklam commented on #138
You'll need to include the 'offline_access' scope when setting up your ODClient:

[ODClient setMicrosoftAccountAppId:@"{id}" scopes:@[@"onedrive.readwrite,**offline_access**"]]

[2016-08-25 18:31] #138 closed, assigned to nobody

[2016-08-25 18:32] kevklam commented on #132
Closing due to inactivity, please reopen if you'd like to circle back to this issue.

[2016-08-25 18:32] #132 closed, assigned to nobody

[2016-08-25 20:56] sameerKLT opened #140 "Continuous reauthentication"
Im authenticating and uploading files to onedrive like so:

[code]

This allows me to go through and returns no error if I have logged in once before. But once I start uploading to OneDrive with the `ODURLSessionUploadTask` I get a 401 unauthorized and I have to force the user to reauthenticate.

Is there something here that I am doing wrong? When the user is navigated back to the authentication p

[2016-08-27 14:45] rdv0011 commented on #132
Hello Kevin,
  Yes I have. One of our customers is experiencing it but unfortunately I do not have the details and cannot create the sample app. It might be possible that it is more like a configuration issue rather than an error in the code. Thanks for staying up to date with the updates regarding this issue. Once the test app is ready I will share it with you.

Sent from my iPhone

[2016-09-04 15:57] pedro-bread commented on #122
Would love to see progress on this as well. Any ETA on the horizon?

[2016-09-06 13:06] the5in opened #142 "refresh token 1 hour"
Why is the default refresh token set as 1 hour? and how do we refresh it?

[2016-09-06 18:17] kevklam commented on #142
Please specify 'offline_access' as an additional scope when setting up your clientID/scope. The refresh token will be provided together with the access token, and the SDK will handle refresh automatically.

[2016-09-06 18:17] #142 closed, assigned to nobody

[2016-09-08 18:03] kevklam commented on #140
Are you specifying the 'offline_access' scope when setting up the appID/scopes? Doing so will make the SDK receive an OAuth refresh token from the auth flow, allowing the SDK to automatically refresh the access token when it expires every hour.

On navigating back to the authentication page, it bypasses the login due to the iOs browser component caching some auth related cookies to keep the user s

[2016-09-09 21:41] tobihagemann commented on #122
I'm trying to implement chunked uploading at the moment as well. It looks like it's called "creating an upload session" and then "upload fragments": https://dev.onedrive.com/items/upload_large_files.htm

I found some code in this SDK to create an upload session, even though it's not documented anywhere and not used in the example project.

This is how far I've got:

[code]

It's a simple example o

[2016-09-14 20:11] KeylimeGit commented on #140
Works great!

Thank you!

[2016-09-14 20:11] sameerKLT commented on #140
Works Great!

Thank you

[2016-09-16 00:44] #140 closed, assigned to nobody

[2016-09-16 03:27] vinceplusplus opened #143 "How to get user details?"
There was a similar issue, #5, a year ago. Any update on API and SDK? Thanks

[2016-09-20 09:45] pedro-bread commented on #122
Thanks tobihagemann. That helped a lot.

[2016-09-21 13:08] kjoneandrei opened #144 "One drive auth token renew"
Hi, In order to authenticate an user in my app (for the one drive functionality) i use:
 [ODClient clientWithCompletion:^(ODClient *client, NSError *error){

Though everytime I authentificate a user for the first time this works well, after an hour passes the auth token expires so I get errors regarding the user (since he is not authenticated anymore). Same happens when the user closes the app and

[2016-09-21 14:48] kjoneandrei commented on #144
ps. offline_access is added as a scope
  ODClient.setMicrosoftAccountAppId(oDClientId, scopes: ["onedrive.readwrite", "offline_access"])

[2016-09-21 14:56] #144 closed, assigned to nobody

[2016-09-21 15:04] kjoneandrei opened #145 "Share OneDrive folder?"
How is it possible to generate a link to share an folder? Same as you can do on the one drive web version where you can generate a link and then the receiver by opening it can add it to his own drive as well ?

[2016-09-21 20:56] kevklam commented on #145
The 'createLink' API should do what you want: https://dev.onedrive.com/items/sharing_createLink.htm

[2016-09-30 22:08] #145 closed, assigned to nobody

[2016-10-03 14:29] kjoneandrei commented on #145
hei @kevklam ... i tried what you said above and it didn't really work:
here is some of my code

[code]

any other variation of the url that i could think was rejected

[2016-10-03 18:18] kevklam commented on #145
Sorry, I referred to the above link just to point out the relevant API. You'll need to access this API through the SDK in order to handle authentication. First go through the steps in 'Installation' and 'Getting Started' in the README for this repo, and then you will be able to access the createLink API as such:

[code]

[2016-10-04 12:47] kjoneandrei commented on #145
hei @kevklam ... thanks a lot :P

[2016-10-14 15:30] nouatzi commented on #122
Hi, I'm having issue with resumable upload too.
My approach is a bit different. Instead of using onedrive SDK, I implement it with URLSession in iOS.
Everything works, except the resumable upload.
The session upload creation works, I've got my uploadUrl, so I simply start an URLSessionUploadTask:

[code]

The transfer goes through, however, in the end, I receive a http code 400 with the response:

[2016-10-14 17:42] tobihagemann commented on #122
Yes, you can set the HTTP headers yourself. This is what my request builder looks like for chunked upload:

[code]

Notice also my last line, so that you don't have to add the bearer token yourself.

[2016-10-14 20:42] nouatzi commented on #122
But you call this method once, to build your request. How did the Content-Range value get updated every time iOS upload a file fragment ?
Did iOS will automatically add and increment the Content-Range value for all fragments sent ?

[2016-10-14 21:50] tobihagemann commented on #122
Nope, there is nothing automatic about it. You have to do it manually and follow the protocol as I've linked before: https://dev.onedrive.com/items/upload_large_files.htm

You have to determine yourself how big your file chunk is (best practices are noted at the bottom). For example, I've chosen `5 * 1024 * 1024`.

Basically, if you've successfully uploaded a file chunk, you have to upload the nex

[2016-10-15 06:01] nouatzi commented on #122
Yes I know OneDrive has a protocol to upload file.
So if I understand right, you're creating a NSURLSessionUploadTask for EACH chunk to send.
Or, you're sending your file manually, for instance with NSStream.

[2016-10-15 12:50] tobihagemann commented on #122
Correct. I must admit that I was a little lazy and I'm using `AFNetworking` on top of `NSURLSessionUploadTask` with `[[AFHTTPSessionManager manager] uploadTaskWithRequest:fromData:progress:completionHandler:]]`, because I prefer block-based solutions instead of delegates. I've been using this library in my project anyway. But that's basically the solution: Create an upload task for each chunk and

[2016-10-15 15:32] nouatzi commented on #122
Ooooooooook, now I understand. Yes it's really weird to do that, but I've tried it and it worked, so 👍 .
Thank you very much tobihagemann for helping me !!

[2016-10-19 16:10] abhpuur opened #147 "Issue with sharepoint access - bad request error"
I am able to access one drive for business using the sample poc iOSExplorer. But when I use the following code to access a sharepoint site, after the successful authentication (auth is using okta login 2 step verify), I do not see permissions screen but get an error "Sorry, but we're having trouble signing you in. We received a bad request".

Here are the details:
in appdelegate ODClient is set us

[2016-10-19 20:42] kevklam commented on #147
The resourceId and apiEndpoint you are specifying are not for a valid tenant.

First make sure you've followed the steps under "Register your app for OneDrive for Business" at the following link:
https://dev.onedrive.com/app-registration.htm

If you want the app to work only for a specific tenant, then specify that tenant for the resourceId/apiEndpoint. Otherwise, do not specify them:

[code]

Hop

[2016-10-19 20:48] abhpuur commented on #147
Hi Kevin: As I mentioned I am trying to show contents of a sharepoint site and not onedrive. Sorry the endpoint and resourceid got changed in comment while I was trying to italicize here. I can't specifiy the company name here but its a valid tenant and I had followed the steps provided for app registration.

resourceId:@"https://<companyname>.sharepoint.com/"
apiEndpoint:@"https://<companyname>.s

[2016-10-19 21:23] kevklam commented on #147
Is there a more specific error code showing up in small print by any chance?

[2016-10-21 22:04] gregyoung14 commented on #137
@slunlun Did you ever find a solution for this? I'm experiencing the same problem.

[2016-10-22 00:47] gregyoung14 commented on #85
@friedtofu @kevklam I'm grabbing the latest branch through cocoapods but I'm still having the same issue with "OneDrive SDK ERROR : Failed to load AAAAAAAAAAAAAAAAAAAAAGj1ZW6pev9i2e1yo_9l0hY as current account" every time I call loadCurrentClient and loadClients remains empty, after successfully calling clientWithCompletion, and then inside setCurrentClient and storeCurrentAccount. What am I missi

[2016-10-26 17:40] abhpuur commented on #147
this was an access related issue, closing for now.

[2016-10-26 17:40] #147 closed, assigned to nobody

[2016-10-27 04:04] rashikraj opened #148 "Get data of custom columns and taxkeyword and also filter based on them."
Hi,

Is it possible to use the api to search/filter based on custom columns and also Enterprise keyword(Taxkeyword)? Also retrieve those custom column data?

If it is possible could you please provide a sample snippet.

Thanks.

[2016-11-02 19:40] kevklam commented on #148
Hi,
Unfortunately the API does not currently support custom columns.

Thanks,
Kevin

[2016-11-02 19:40] #148 closed, assigned to nobody

[2016-11-02 23:30] rgregg commented on #143
@vinceplusplus:

This information is now available via [Microsoft Graph](https://graph.microsoft.com). You can either continue to use OneDrive API and only call Microsoft Graph for user information, or migrate to Microsoft Graph for the full scenario, since the OneDrive API is also available as part of the Microsoft Graph.

-Ryan

[2016-12-29 17:18] mobilekosmos opened #149 "Cancel button does nothing"
All the functionality of OneDrive is working correctly, only the cancel button in the left upper corner when trying to login does not work, and this is automatically managed by the SDK, right?
I call following:
` [ODClient authenticatedClientWithCompletion:^(ODClient *client, NSError *error){`

this calls the first page where the user must input the mail address, on this first page the cancel butt

[2017-01-09 04:14] gouravnayyar opened #150 "Authentication failure issue."
I am not able to by pass the authentication step. My application is targeting OneDrive for Business. This is how my call looks like, (as mentioned in the doc)

[ODClient setActiveDirectoryAppId:"ONE_DRIVE_BUSINESS_CLIENT_ID" redirectURL:@"REDIRECT_URI"]];

I keep on getting the authentication issue.

Question thread:
http://stackoverflow.com/questions/41140326/authentication-issue-on-integrating-o

[2017-01-09 22:36] #143 closed, assigned to rgregg

[2017-01-10 06:42] marekmatula commented on #139
I use the same configuration. It works fine.
Xcode version: 8.2.
Pod versions:
ADALiOS (1.2.9)
CRMMobileSDK (1.0.0)

I use only use_frameworks! and no bridging header.
App is connected to sharepoint site and can list main document library.

[2017-01-12 09:58] deco1515 commented on #5
@aclev, I get empty displayName. but another property like 'token' 'id' is normal.

[2017-01-13 03:35] deco1515 opened #151 "get empty user email"
`        ODClient.setMicrosoftAccountAppId("d808e948-8e94-4227-b5ec-a19222d7187b", scopes: ["wl.signin", "wl.offline_access", "onedrive.readonly", "onedrive.readwrite", "onedrive.appfolder"])
 ODClient.authenticatedClient(completion: {client, error in
            if error == nil{
                client?.drive().request().getWithCompletion({drive, error in
                    print("---\(drive?.own

[2017-01-13 03:36] #151 closed, assigned to nobody

[2017-01-13 04:36] deco1515 commented on #143
@rgregg, I still failed to get displayname with the example project "IOSExplorer". Any suggestion?

[2017-01-16 09:27] deco1515 opened #152 "fail to get user display name"
`ODClient.setMicrosoftAccountAppId("d808e948-8e94-4227-b5ec-a19222d7187b", scopes: ["wl.signin", "wl.offline_access", "onedrive.readonly", "onedrive.readwrite", "onedrive.appfolder"]) ODClient.authenticatedClient(completion: {client, error in if error == nil{ client?.drive().request().getWithCompletion({drive, error in print("---\(drive?.owner.user.displayName)") }) }`

I use the code above with S

[2017-01-18 01:40] deco1515 opened #153 "how to store account on disk"
how to store account on disk

[2017-01-18 01:45] deco1515 commented on #137
@slunlun @gregyoung14 Any progress?

[2017-01-18 03:14] deco1515 commented on #85
I have the same issue

[2017-01-18 05:48] khaleel8039 opened #154 "Unable to upload image from OneDrive IOS SDK"
Below is the piece of code i am using for image uploading:

NSURL *fileURL = [[NSBundle mainBundle] URLForResource:@"demoImage" withExtension:@"jpeg"];
ODItemContentRequest *request = [[[self.client drive] items:destDir] contentRequest];
[request uploadFromFile:fileURL completion:^(ODItem *item, NSError *error){
}];

Getting the following error while uploading image:

**OneDrive SDK ERROR : Error

[2017-01-18 11:23] MintSet commented on #143
Can I use MSGraph with access token getting from OneDriveSDK?

[2017-01-19 02:25] #153 closed, assigned to nobody

[2017-01-20 15:16] mobilekosmos opened #155 "clients=0 in app extension"
OneDrive works great in my app but trying to make it work in our app extension is not working. When calling NSArray *clients = [ODClient loadClients]; in the extension this is an empty array. Keysharing is set in the app target and in the extension target, podfile is configured right and all code is actually compiling without errors.
While debugging the app extension following function from the sd

[2017-01-23 12:53] MiteshiOS commented on #56
Hey @aclev having a same problem unable to upload image and getting error code 405.

    __block ODItem *item = [self itemForIndex:2]; //took 2 for upload image in pictures
    self.item = item ;

    if (self.parentItem && !self.item){
        ODItemContentRequest *contentRequest = [[[[self.client drive] items:self.parentItem.id] itemByPath:[self.filePath lastPathComponent]] contentRequest];

[2017-01-24 05:22] aclev commented on #56
Hi @MiteshiOS I'm no longer an active maintainer/contributor to the project.  I think @kevklam can help you out here.

However, from first glance it looks like your first content request  might be incorrect.

[code]
if `[self.filePath lastPathComponent]` doesn't return a valid filename the request would fail. See https://dev.onedrive.com/items/upload_put.htm

[2017-01-25 11:43] spacemonkey92 opened #156 "Hot to create a new Folder in a give parent folder id ?"
Can someone help me on how to create a folder using this sdk ? I cannot find any docs.

[2017-01-25 11:47] spacemonkey92 commented on #104
Can you tell me how to create a folder using the sdk ?

[2017-01-26 08:41] MintSet commented on #143
@deco1515, I spent a lot of time to solve this problem. I forked this repo and add to ODClient user email. [https://github.com/MintSet/onedrive-sdk-ios](url)

[2017-01-30 20:47] shammatime opened #157 "Accessing Sharepoint Sites"
I am trying to integrate with onedrive for business. Based on the documentation I am unsure of how to utilize the SDK to access sharepoint sites. Any help would be appreciated.

[2017-01-31 22:38] kevklam commented on #156
The following is copied from the iOSExplorer sample app in this repo:
[code]

[2017-01-31 22:38] #156 closed, assigned to nobody

[2017-01-31 22:54] kevklam commented on #154
You are requesting to modify the binary contents of the folder itself, instead of trying to upload contents to a new file.

NSString *fileName = "fileToCreate.txt";
[[[[[self.client drive] items:destDir] **itemByPath:fileName]** contentRequest] uploadFromFile:fileURL completion: ...];

[2017-01-31 22:54] #154 closed, assigned to nobody

[2017-01-31 23:14] kevklam commented on #152
Please file an issue here instead:
https://github.com/OneDrive/onedrive-api-docs/issues

[2017-01-31 23:14] #152 closed, assigned to nobody

[2017-02-01 01:23] kevklam commented on #157
It depends on what your needs are. Are you trying to access arbitrary sharepoint sites, or just the user's onedrive-for-business (i.e. their My Site)?

[2017-02-01 01:28] kevklam commented on #150
Hi @gouravnayyar, are you still having this issue?
Have you tried running the iOSExplorer sample app in this repo (but replacing the app ID and redirect URI in ODXAppDelegate.m with your own)?

[2017-02-01 01:31] #111 closed, assigned to nobody

[2017-02-01 02:03] kevklam commented on #143
@deco1515
Information on using the MSGraph API to retrieve user info is documented here:
https://graph.microsoft.io/en-us/docs/api-reference/v1.0/resources/users
https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/user_get

You can experiment directly with the API here:
https://graph.microsoft.io/en-us/graph-explorer

Once you know what API requests you need, you can use the MSGraph SDK t

[2017-02-01 14:46] shammatime commented on #157
@kevklam The example of what we are tying to access is:
Say I log into my one drive for business account. On the left hand side there is a listing for "Groups". I believe these are also considered "Sites" in sharepoint. Basically we are trying to figure out how to access these sites/groups using the onedrive sdk.

[2017-02-01 22:41] kevklam commented on #157
Unfortunately this functionality is not currently supported in the OneDrive for Business API.

There exists a beta in the Microsoft Graph API that may help with what you are trying to do, however it is not production-quality yet:
https://graph.microsoft.io/en-us/docs/api-reference/beta/resources/sharepoint

The corresponding SDK is here:
https://github.com/microsoftgraph/msgraph-sdk-ios

[2017-02-01 22:41] #157 closed, assigned to nobody

[2017-02-02 15:41] kreuli commented on #149
Issue seems to be in "ODAuthenticationViewController.m", in "shouldStartLoadWithRequest": when a request has the same prefix as "endURL", the property "isComplete" is set to YES. The "cancel" method ignores to cancel when "isComplete" is set.

Unfortunately I cannot suggest a fix since I don't know what the idea behind "isComplete" and "endURL" is, there are almost no comments in this module :-(.

[2017-02-06 21:18] mkeremkeskin opened #158 "How to upload nsdata or file to OneDrive? Example project doesn't show this simple task."
Hi;

I want to upload pdf file by using nsdata. Just a simple task. In the example there is a section called **Upload Text File**  which shows how to upload but it is not working. Two conditions in the code below isn't working. So I can't figure the process works.

[code]

Can you provide a simple example how I can send a pdf file? I think the code below does what I want but how?

[code]

[2017-02-07 05:47] khaleel8039 commented on #154
Its working now thanks a lot kevklam.

[2017-02-07 05:57] MiteshiOS opened #159 "OneDrive Upload multiple image"
Can i upload multiple image in single request. How to build request for this ?

[2017-02-08 07:33] mkeremkeskin commented on #158
Hi I want to update my question. Can anyone help me about this issue?

I just want to upload pdf to root folder of OneDrive. Not anything else fancy.

[2017-02-14 22:31] kevklam commented on #158
This requires some knowledge of how the API works: https://dev.onedrive.com/items/upload.htm
Here's an example using 'simple item upload' to the root.

[code]

[2017-02-14 22:31] #158 closed, assigned to nobody

[2017-02-14 22:41] kevklam commented on #159
Unfortunately this is not currently supported by the API. Please refer to https://dev.onedrive.com/README.htm for documentation on supported operations.

[2017-02-14 22:41] #159 closed, assigned to nobody

[2017-02-14 22:41] #150 closed, assigned to nobody

[2017-02-14 23:11] kevklam commented on #149
Thanks for reporting this, and my apologies for the slow response.

I believe the faulty logic is [ODAuthenticationViewController redirectWithStartUrl: ...], which does not reset isComplete as it should. I will submit a PR to fix it.

For more background on what isComplete and endURL are for, the OAuth 2.0 protocol specifies that the auth server will redirect to the 'redirect url' when the user co

[2017-02-14 23:32] #122 closed, assigned to nobody

[2017-02-15 20:46] #149 closed, assigned to nobody

[2017-02-23 15:44] gouravnayyar commented on #150
@kevklam Thanks for replying.

Yes I have tried in the sample app after replacing the app ID and redirect URI. I am not able to pass the authentication step mentioned above.

[2017-03-08 09:15] tobihagemann opened #161 "Login via portal.office.com"
Is it possible to use OneDrive via portal.office.com? A user with a student license for Office 365 asked us if it'd be able to access his OneDrive. We're using this SDK and I'm not sure if that's even possible. Is that even OneDrive? Is there another SDK? Is the API maybe the same, just another endpoint?

[2017-03-09 08:32] gerchicov-bp opened #162 "Background mode?"
Could you explain how to allow download in background with this sdk? I mean exactly downloading in background, not resuming download when app enters foreground.

As I understand I use (and your documentation recommend to use code from ```ODClient+DefaultConfiguration.h``` but I need to edit this configuration to use background mode instead of default one

[2017-03-09 19:32] kevklam commented on #161
It's a pretty vague question but I'll try to answer it as well as I can.
1) Office365 has SharePoint, which is accessible via the Microsoft Graph API/SDK. The Microsoft Graph API is a unified API endpoint for all of Office365 cloud offerings and can also access OneDrive for Consumer.
2) 'OneDrive for Business' is a subset of SharePoint and is accessible via both the MS Graph API/SDK and OneDrive A

[2017-03-09 19:32] #161 closed, assigned to nobody

[2017-03-11 17:29] MirAshrafUddin opened #163 "In Swift"
I want to make a project using onedrive api in swift. how can I do that? please give me some suggestions...

[2017-03-12 09:38] tobihagemann commented on #161
Thank you for giving me an overview. Sorry for the vague question. I guess I don't understand the whole Microsoft ecosystem. What's up with Microsoft Graph? Is this new? I just saw that there is also an SDK for iOS: [microsoftgraph/msgraph-sdk-ios](https://github.com/microsoftgraph/msgraph-sdk-ios)

Is this going to replace the OneDrive SDK? It seems to me that Microsoft Graph is capable of doing

[2017-03-12 22:31] kevklam commented on #161
Graph is, in a general sense, a proxy layer to other office365 cloud services including OneDrive, outlook, calendar, etc... This is why the API signature for OneDrive related functionality looks so similar, and why Graph "does more". The main benefit is that it's a single API endpoint, which makes a number of things nicer including using a single auth token to access any o365 service, and not havi

[2017-03-13 00:47] tobihagemann commented on #161
Thank you for your detailed answer! That helped a lot. :+1:

[2017-03-19 16:15] manpreetg opened #164 "App Crashes on cancel button"
App crash if someone click cancel button in-between the app is authenticating email and forwarding to the password screen.

-[UIWebBrowserView autoFillDelegate]: message sent to deallocated instance 0x7f9667807e0

#1	0x000000010da5db88 in __forwarding_prep_0___ ()

[2017-03-21 03:02] deco1515 opened #165 "how to rebuild ODClient with token"
I got ODClient by calling `ODClient.authenticatedClient`.
Now I want to rebuild ODClient in another device.
what can I do?

[2017-03-30 12:42] MirAshrafUddin commented on #163
I solved it using this project https://github.com/microsoftgraph/ios-swift-snippets-sample

[2017-03-30 12:42] #163 closed, assigned to nobody

[2017-04-05 07:24] ozzotto opened #166 "Access and fetch items from a public shared folder with no authenicated client"
Is there a way to use the iOS SDK and fetch and access (read-only) the items of a public shared folder - [example](https://onedrive.live.com/?authkey=%21AOtB3GLnhmonfq4&id=98FEE311F7E754ED%213928&cid=98FEE311F7E754ED) - without having to authenticate the ODClient?

[2017-04-06 20:38] kevklam commented on #166
The API does not seem to support this. If it did, you would do so using the /shares/ API:
https://dev.onedrive.com/shares/shares.htm

[2017-04-06 20:38] #166 closed, assigned to nobody

[2017-04-19 09:03] DemianSteelstone opened #167 "Can't copy item to the same folder"
Hi, I've tried to make a copy of a file (copy to the same folder), but got an error here:
[code]

Error Domain=com.microsoft.onedrive.errors Code=500 "internal server error" UserInfo={error= malformed : (null), NSLocalizedDescription=internal server error}

Also it call completion block twice.
1) item == nil  and error == nil
2) item == nil and error above

Anything I can do?

[2017-04-19 11:48] DemianSteelstone commented on #167
My bad, didn't change item copy name

[2017-04-19 11:48] #167 closed, assigned to nobody

[2017-04-21 11:05] bazik123 commented on #143
@kevklam is there a way to authenticate in MSGraph SDK once I am authenticated in OneDrive SDK? MSGraph github page is telling me it's not production ready so I am not thrilled at the prospect of migrating to it completely..

[2017-04-24 14:11] bazik123 opened #168 "what is the query that returns all items (so they can be filtered with fields like 'folder <> null && lastModifiedDate < now-3'"
i would like to search onedrive using the filtering query format (all non deleted folders modified in last 3 days), and from what I gather I can only get this by filtering after I search.

so my question: what query returns ALL items (so I can filter them using folder/delelted/modifiedDate?

I tried "" and "*", I tried bypassing search by having a query like "folder ne null"

[2017-05-19 11:52] JustStoryteller opened #169 "Sign out when no internet connection"
I try to sign out OneDrive account when no internet connection, using [currentClient signOutWithCompletion:^(NSError *error){}]. Then I try to sign in to other account, using [ODClient authenticatedClientWithCompletion:^(ODClient *client, NSError *error){}] - and, when I call this method, 'confirm permissions' view controller appears instead of 'enter login and password' view controller. So, I can

[2017-05-19 18:20] kevklam commented on #168
You can use the 'delta' API to pull down all items in a hierarchy. Please see API reference here:
https://dev.onedrive.com/items/view_delta.htm

The search API you're trying to use is primarily a keyword search.

Thanks

[2017-05-19 18:20] #168 closed, assigned to nobody

[2017-05-19 18:40] kevklam commented on #169
This is because the signout flow makes a request to a URL which clears the auth related cookies.  If there is no connection, the sign-out URL is not reachable and the cookies are not cleared.

You should be able to tell if sign-out was successful by checking if the NSError passed to the completion block is nil or not. In the case that there was an error reaching the endpoint, one possible workarou

[2017-05-19 18:40] #169 closed, assigned to nobody

[2017-05-31 13:03] tobihagemann commented on #150
@gouravnayyar Were you able to solve this issue? I've just started looking into OneDrive for Business and I'm having the exact same error.

[code]

What does that even mean? :laughing:

Update: ~I think I've figured it out.~ Okay, not really. This is ridiculous. See #170.

[2017-05-31 14:00] Alex-C-Eltima commented on #124
Hi, is there any estimated time when ADAL is going to be updated in this SDK?

[2017-05-31 14:38] tobihagemann opened #170 "Basic understanding of OneDrive for Business"
I'd like to offer OneDrive for Business access to my users but I have the feeling that I'm missing something obvious.

I have created an application at https://apps.dev.microsoft.com/#/appList and it's working great with OneDrive. It looks like Live SDK is already "legacy" (and doesn't seem to work with OneDrive for Business), that's why I've created a new application at that website and it now ha

[2017-05-31 15:20] tobihagemann commented on #170
Okay, at least I understand now that I can't get more information on https://dev.onedrive.com/app-registration.htm because it has been changed for Microsoft Graph.

Here are the old instructions: http://web.archive.org/web/20170129095138/https://dev.onedrive.com/app-registration.htm

I've created an application on Azure but now I'm getting this error: `Application with identifier '…' was not found

[2017-05-31 15:46] tobihagemann commented on #170
Okay, I guess I used the wrong Microsoft account because I had to associate Office 365 with Active Directory. I was already wondering why I couldn't add "Office 365 SharePoint Online" permissions and only Microsoft Graph.

Now I'm still not sure that this method works with _all_ organizations but I sure hope so. At least I've read [here](https://docs.microsoft.com/en-us/azure/active-directory/deve

[2017-05-31 16:14] tobihagemann commented on #170
I've read [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-integrating-applications) that I have to activate multi tenancy in order to make it work for external organizations. I couldn't find this setting because I've added the application as the type "native".

I've created a new application of type "Web app / API" and it indeed has a multi tenancy setting.

[2017-06-03 20:09] tobihagemann commented on #170
Couldn't figure it out. It isn't worth the effort to try it with this SDK. If someone else is stumbling upon this issue: Just switch to Microsoft Graph! https://github.com/microsoftgraph/msgraph-sdk-ios

Cost me around 5.5h. Fortunately, MSGraphSDK is quite similar to OneDriveSDK.

[2017-06-03 20:09] #170 closed, assigned to nobody

[2017-06-07 08:50] azubala opened #171 "OneDrive for Business `cTag` not updated when folder contents changes"
Steps to reproduce:
-  create a folder in OD for Business
- add some files to the folder
- in iOS application using OD iOS SDK fetch folder and print out `cTag` property
- change folder contents by adding or deleting or modifying files
- re-run the application

Result:
- `cTag` property of the folder is the same

Expected behaviour:
- `cTag` property should reflect changes of folder contents; as s

[2017-06-12 19:00] kevklam commented on #165
Unfortunately that isn't currently a supported scenario. It should be possible by writing your own ODAuthProvider or likely by subclassing an existing one, however there is a lot of convenience logic that is coded to specifically work with the existing auth providers that won't be usable (i.e. most of the stuff in ODClient+Authentication and ODClient+DefaultConfiguration).

[2017-06-12 19:00] #165 closed, assigned to nobody

[2017-06-12 19:20] kevklam commented on #162
Background download isn't currently supported by the SDK. It should be possible to override the httpprovider in the DefaultConfiguration with one created using a custom NSURLSessionConfiguration, however if the app is terminated and then relaunched via application:handleEventsForBackgroundURLSession:completionHandler:, then even though you can re-create a new ODUrlSessionManager with the correct c

[2017-06-12 19:20] #162 closed, assigned to nobody

[2017-06-12 19:21] #139 closed, assigned to nobody

[2017-06-16 03:18] deco1515 opened #172 "sdk crashes when the password has been updated"
One hour after I changed my password via onedrve.live.com, one drive sdk would crash

[2017-06-19 23:36] kevklam commented on #172
Can you provide any more details? stack traces, HTTP traces for example?

[2017-06-27 06:43] ShInoue opened #173 "sdk crashes when you press "Yes" on the "Let this app access your info?" screen."
Stack traces are shown below.

2017-06-27 15:09:34.820357+0900 OneDrive-iOS-Test[3124:2063227] -[__NSCFString base32String]: unrecognized selector sent to instance 0x170a65c40
2017-06-27 15:09:34.822773+0900 OneDrive-iOS-Test[3124:2063227] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[__NSCFString base32String]: unrecognized selector sent to instance 0x170a

[2017-06-27 22:23] kennybuc opened #174 "searchWithQ not working in Obj-C"
I integrated OneDrive SDK for iOS to my Obj-C project. Everything seems working fine but search function.

[[self.odClient.root searchWithQ:@".privacy.txt"] request]

The search function does not work immediately after I uploaded a file, ".privacy.txt".
It then works after few mins. And sometimes search response is empty array but this rarely happens.

If anybody has experienced this kind of issue

[2017-06-30 06:39] ShInoue commented on #173
This problem was solved.

[2017-06-30 06:39] #173 closed, assigned to nobody

[2017-07-03 06:27] kennybuc commented on #174
@kevklam Did you have got a chance to reproduce the same issue?

[2017-07-03 22:24] kevklam commented on #174
Hi,
The search function relies on a server side index that gets populated asynchronously, so there is some delay between files being uploaded and being searchable.

________________________________
From: kennybuc <notifications@github.com>
Sent: Sunday, July 2, 2017 11:27:26 PM
To: OneDrive/onedrive-sdk-ios
Cc: Kevin Lam; Mention
Subject: Re: [OneDrive/onedrive-sdk-ios] searchWithQ not working in

[2017-07-06 11:13] Aravindmariappan commented on #124
Hello,

ADAL v1.x is not supported in iOS 11. Please update it for onedrive iOS 11 support.

Thanks

[2017-07-21 17:33] lockelost opened #175 "OneDrive for business - create file fails(UnauthorizedAccessException) for AppOnly accessToken"
Hi,
this is not specifically related with the C# SDK, but rather it is about the server side implementation, I guess.

I got the Access token by using following method.
https://developer.microsoft.com/en-us/graph/docs/concepts/auth_v2_service

By calling the Micorosoft Graph API, I can list up files of every user in tenant, download them, and even can create a folder.
but I can not create file, th

[2017-07-21 18:16] #174 closed, assigned to nobody

[2017-07-21 18:19] kevklam commented on #175
Please open this issue in [onedrive-api-docs](https://github.com/onedrive/onedrive-api-docs/issues) for API related questions. It will also be helpful to include more details of the request you are making.

Thanks,
Kevin

[2017-07-21 18:19] #175 closed, assigned to nobody

[2017-07-21 18:22] kevklam commented on #171
Hi, please refer this API issue to [onedrive-api-docs](https://github.com/OneDrive/onedrive-api-docs/issues) and if possible include details of the specific HTTP requests being made.

Thanks.

[2017-07-21 18:22] #171 closed, assigned to nobody

[2017-07-26 15:04] bvirlet opened #176 "ODAuthErrorKey 400 "bad request" when performing requests"
Hello,

Some of the users of our app Genius Scan (http://dl.tglapp.com/genius-scan) are seeing "bad request" error when choosing a directory to export to, or exporting a file to OneDrive. They were able to properly login with their account (see code below). We are unable to reproduce this issue.

We're using the OneDrive SDK together with ADAL iOS. We support both "regular" and "business" user acc

[2017-08-01 11:45] ramonpoca commented on #124
Build fails in XCode 9b4 due to (very) old ADAL, is there anyone listening?

[code]

[2017-08-02 01:22] chaseholland commented on #124
I'm going to push harder on this... I'm now seeing the same in xcode 9b4

[2017-08-08 00:37] chaseholland commented on #124
I examined how much work it was to move to ADALv2... I've decided to patch ADALiOS v1.2.9 with the necessary changes to make it compile in Xcode 9b4.

As soon as I can get approval, I'll open a CR to this pod to use it CR here: https://github.com/AzureAD/azure-activedirectory-library-for-objc/pull/1028

[2017-08-16 15:45] ghost commented on #137
I have had this same issue and found that the following is a quick and easy workaround.

Inside my 'signInAction' I have the following code:
`- (void)signInAction
{
    [ODClient clientWithCompletion:^(ODClient *client, NSError *error){
        if (!error){
            self.client = client;
            [ODClient setCurrentClient:self.client];
            [self loadChildren];
            dispatch_a

[2017-08-18 10:22] Next-Age-Code opened #177 "Reading Stream"
I am using one drive sdk to stream songs from users drive. The problem is when i am requesting CFReadStreamRef from server by providing ODItem download url, the stream is randomly closed by server. It could stop half way through song or at 75 % of streamed song. Sometimes it works just fine playing tracks all day. Tested on different networks ( 3g, wifi ).

[2017-09-03 12:24] xinatanil commented on #124
I still can't compile my project on Xcode 9 Beta because of ADALiOS, and considering that Xcode GM and iOS 11 will be released within a couple of weeks, I'd say that this issue becomes critical.

[2017-09-04 08:47] magicboker commented on #176
I had the same issues, too!

[2017-09-09 01:40] kevklam commented on #124
Just an update on this, Chase's PR has been merged by ADAL but they are waiting to validate against the GM before pushing a pod update.

[2017-09-13 08:33] bazik123 opened #178 "does not build with ios 11"
related to: https://github.com/AzureAD/azure-activedirectory-library-for-objc/issues/1051

ADALios doesnt support ios 11, but onedrive-sdk-ios/Auth has an ADALios dependency

[2017-09-13 15:36] kreuli commented on #178
Isn't this related to https://github.com/OneDrive/onedrive-sdk-ios/issues/124 ?

[2017-09-17 17:28] ghost commented on #124
The GM of Xcode 9 is released, when we get the solution with in pod update ?

[2017-09-17 17:29] ghost commented on #178
Yes it is. I have the same error from #124 with the Xcode 9 GM.

[2017-09-18 10:38] ramonpoca commented on #124
The ADALiOS repo is missing the tag for 1.2.9.1 and a push of the podspec.

[2017-09-19 11:56] sanhue0302 commented on #178
i got same problem
please fix this problem, thanks

[2017-09-20 16:26] j0sem4rio commented on #178
same problem

[2017-09-22 15:27] AndreasBoehm commented on #124
Please create the tag 1.2.9.1 and push to the podspec to allow us to upgrade to xcode 9

[2017-09-25 21:36] sugampandey commented on #178
We see this problem too. Please fix

[2017-10-05 17:34] ramonpoca commented on #124
ADALiOS has pushed 1.2.10 with the fixes (renamed package to ADAL). Podspec should pin to that version.

[2017-10-12 18:14] ramonpoca commented on #124
@chaseholland Any estimate when you can push this?

[2017-10-17 00:38] kevklam commented on #178
Should be fixed with #184 and the latest pod version.

[2017-10-17 00:38] #178 closed, assigned to nobody

[2017-10-17 00:39] kevklam commented on #124
This has been pushed with #184 and the latest pod version. Please let me know if you continue to see issues.

[2017-10-17 00:39] #124 closed, assigned to nobody

[2017-10-17 04:16] sreejithsree123 commented on #163
@MirAshrafUddin you Know how to show the progress bar for uploading and downloading in swift. sorry for asking here because no one is responding for my question. :)

[2017-10-19 16:07] janaraj opened #185 "Unable to retrieve shared folder - Onedrive for Business"
Hello,

I'm trying to retrieve list of items from a shared folder but always getting 404 not found error. Have added the permission "Read and Write items in all site collections" under Office 365 sharepoint online in Azure portal. Below is final URL that gets framed. I went through all the documents but still no luck. Could someone please help ?

https://{tenant}-my.sharepoint.com/_api/v2.0/me/dri

[2017-10-19 18:35] janaraj commented on #185
Hi, I got a reponse from the other issue that I shouldn't using "/me" when requesting for drives. Could you please let me know a sample on how to frame the URL without "/me" in the URL ?

This is what I need inorder to access to shared folder.

https://{tenant}-my.sharepoint.com/_api/v2.0/drives/{driveid}/items/{itemid}/children

[2017-10-25 11:22] Mudasir441 opened #186 "Always asks for authorization"
I have integrated One drive in my iOS app. Whenever I click on One Drive (being logged in) it takes me to the authorization screen saying "Let this app access your info? App needs you to confirm......". It should ask it only first time after login.

[2017-10-25 15:38] #186 closed, assigned to nobody

[2017-11-07 16:09] mihaierosx2 opened #187 "Init ODClient with saved accessToken"
Is there any way I can init an ODClient with a saved accessToken, that would come from an external API?

Use-case:
A user has an account for an iOS app called X, with SSO benefits - Single Sign-On.

Which means: if the user logs in using the **X app** account on his **iPad**, then logs in using credentials of an OneDrive account (in the same X app, here I use the OneDriveSDK), the user should be a

[2017-11-08 09:39] mihaierosx2 commented on #187
@kevklam can you take a look?

[2017-11-08 13:02] narlei opened #188 "OneDrive Business need a Azure account to sign in?"
I'm trying login with a business account by shows error:

[code]

I'm using Microsoft Registration Portal to create the app using a business account.

I Really need an Azure account to register app and then login works?

[2017-11-30 13:24] IliyanKafedzhiev opened #189 "Second try to copy file from sub folder fails with error Error file not found. (OneDrive Personal account)"
`[[[[[self.odClient drive] items:odFile.odItem.ID]
                         copyWithName:odFile.subPathToCopy.lastPathComponent
                       parentReference:parentRef] request]
           executeWithCompletion:^(ODItem *item, ODAsyncOperationStatus *status, NSError *error)

....`

Where odFile.odItem.ID is a valid file ID.

Steps to reproduce:
Go to subfolder and copy a file to the same

[2017-12-25 16:14] amitbajaj opened #190 "Unable to authenticate to Microsoft Personal Account"
Whenever i try to connect using the SDK with personal account, i get the below error:
OneDrive SDK ERROR : Error reading code from response

This error shows on clicking "Next" after entering the email on the first login page and the popup view for authentication closes immediately and i get the above error in the debug console.

The popup closes even without asking for password.

[2018-01-03 02:45] sanhue0302 opened #191 "While account is locked, i can't sign out"
when i sign in with account that is locked,
i got message "There is a problem with your Microsoft account. To fix this, sign in to account.live.com from a browser." with a Cancel button

But when i press Cancel, i can't sign in with another account,
it seems that SDK keeps in "Sign in" state
how can i return to the "Sign in" page?

[2018-01-14 21:47] TranDinh3 opened #192 "Unlocked"
Activation lock

[2018-01-14 21:48] TranDinh3 commented on #192
Thanks

[2018-01-14 21:51] TranDinh3 commented on #192
Thanks very much

[2018-01-14 21:54] TranDinh3 commented on #186
Thanks so much

[2018-01-14 22:14] TranDinh3 commented on #190
pzetystars@gmail.com

[2018-01-14 22:22] TranDinh3 opened #193 "Settings"
Unlocked iCloud activation

[2018-01-14 22:23] TranDinh3 commented on #193
Unlocked iCloud activetion

[2018-01-14 22:23] TranDinh3 commented on #193
Unlocked iCloud activetion

[2018-02-22 17:22] Pash237 commented on #137
Same here. Stuck with this issue for an hour.
You need to call `[ODClient setCurrentClient:self.client];` — this must be described in docs, I think.

[2018-02-22 17:25] Pash237 opened #194 "Access token is not refreshed"
Access token is not refreshed — after an hour I just got 401 unauthorized error with client loaded using `[ODClient loadCurrentClient]`. Is there any way to refresh token?

[2018-02-22 19:49] kevklam commented on #194
See #144

[2018-02-22 19:49] #194 closed, assigned to nobody

[2018-03-07 13:11] bvirlet commented on #176
Hello! Can someone from Microsoft help us with this? This is still an ongoing issue and affecting a lot of OneDrive for Business users of our app.

[2018-03-07 13:41] magicboker commented on #176
You need to use Microsoft Graph SDK instead of this SDK.

[2018-03-07 13:42] bvirlet commented on #176
Can you elaborate :) ?

[2018-03-12 10:12] magicboker commented on #176
If you need a ready-to-go solution for OneDrive SDK (supports OneDrive for Business), please email to me via magicboker@gmail.com

[2018-03-12 10:28] kreuli opened #196 "German Office 365"
Is there a way to specify which of the international Azure stacks to be used for OneDrive for Business? The current SDK only seems to work for the US stack but not for the German Office365 accounts hosted by Telekom.

[2018-05-19 20:25] ghost opened #197 "Add Carthage support"
Please Add Carthage support!

[2018-06-28 10:52] pcki11 opened #199 "Authorization webview does not show confirm buttons on Russian locale"
When I try to sign in to OneDrive inside my app, the buttons to confirm permissions are missing on Russian locale (maybe on others as well) if there are a lot of permissions or there were other permissions granted previously:

![screen shot 2018-06-28 at 13 39 04](https://user-images.githubusercontent.com/2091172/42030107-67bb6222-7ada-11e8-8a44-f2c1930c9ed0.png)

Using OneDrive SDK v. 1.3.0, iPho

[2018-07-16 07:06] jilaiyuan opened #200 "Update ADAL library to latest version"
I'm working on OneDrive for Business issue. ADAL has release version 2.6.3. But in OneDriveSDK, the ADAL version still 1.2. In ADAL changelog, they said "We recommend using 2.2 or later, as support for 1.2.x will end in the near future.)".  The ADAL is too old to turn on SSO for broker assisted SSO.

So do you have the plan to update ADAL library? Thanks.

[2018-07-19 05:51] jilaiyuan commented on #200
Please update the ADAL version to 2.4 which is the last version support iOS 8.0. Thanks!

[2018-07-31 14:40] CoreyJPowell opened #201 "library not found for -lADAL"
Hi, I have followed the instructions to install OneDrive SDK using CocoaPods, When I build I get the Library not found error, I have attached the screen shots, In the Pods folder I can see all the ADAL files

Can you please advise,
Many Thanks

Corey
<img width="998" alt="screen shot 2018-07-31 at 15 31 21" src="https://user-images.githubusercontent.com/29065386/43466416-61f5f96c-94d7-11e8-8507-8b

[2018-08-01 10:12] CoreyJPowell commented on #201
Think this could be related
<img width="216" alt="screen shot 2018-08-01 at 11 11 35" src="https://user-images.githubusercontent.com/29065386/43515922-c3db740a-957b-11e8-8d5c-18e528eb06fd.png">

[2018-09-30 11:41] mmcguill opened #202 "OneDrive for Business - New Apps will not work due to Office 365 Discovery API Deprecation"
Hi,

I'm using this library successfully for OneDrive personal in my app, and wanted to allow people to use OneDrive for Business in my app. Unfortunately this functionality appears to be broken for new applications currently. You will receive the following error message on your console:

The error message you get in the console unfortunately and frustratingly buries the underlying error, which I

[2018-10-04 13:51] mmcguill commented on #202
Anyone? Just to let me know if this is something that will be looked at or if this project is still being maintained at all?

Thanks!

[2018-10-18 08:42] danielmrdev commented on #202
Hi @mmcguill,

You point me in the right direction to find a solution for this issue. Finally I found a workarround without the hassle of modify the SDK code.

We can use this to initialize the `ODClient` instance passing the correct `resourceId` and `apiEndpoint`:

[code]
[code]

It works! Hope this help you and others with the same ODfB issue.

Thanks for your help!

[2018-10-23 12:19] nabeelahmed87 opened #203 "Streamable path of file"
I am unable to find the streamable path for any file although i did find downloadable path but no luck in streamable path

[2018-10-23 12:20] nabeelahmed87 commented on #177
how do you stream? can you please provide me the code

[2018-10-27 15:58] mmcguill commented on #202
This seems to do the trick @orumad, very nice trick. I'm still concerned that this project seems to be no longer maintained, but thanks for your suggestion!

[2018-11-03 12:41] khetiSubrat commented on #200
We are also facing some issue due to old library, Could you please update the ADAL library to latest in Onedrive.

[2018-11-15 06:17] jilaiyuan commented on #200
@khetiSubrat I gave up OneDriveSDK and turned to MSGraphSDK for iOS.

[2019-01-31 09:00] juanradark opened #205 "Download thumbnail"
Can someone help me on how is the easiest way to download the thumbnail of a file? I was able to get the link but no how to download it with the sdk. Thanks

[2019-02-07 14:30] Mikanbu commented on #203
Have a look at this key in the dictionary of each item: `@content.downloadUrl`.
With this url you should be able to stream/download.

[2019-02-18 16:00] carolanitz opened #207 "improvement: Supply thumbnail urls in item request instead of having a separate request"
currently you need to have additionally to an ODChildrenCollectionRequest (```[[[[_oneDriveClient drive] items:itemID] children] request]```)
another ODThumbnailRequest to get the associated thumbnails (```[[[[[_oneDriveClient drive] items:item.id] thumbnails:@"0"] small] request]```)

this is very inconvenient since the data is not supplied on the items that were requested with the childrencollec

[2019-02-18 16:06] carolanitz commented on #205
@juanradark look in their example iOS App "Explorer" under loadThumbnails in their ODXItemCollectionViewController. you have to kick of another request

[2019-02-21 09:39] juanradark commented on #205
Thanks!!, I don't know how I didn't see it, I took other functions from that example.

[2019-03-05 08:53] bvirlet commented on #176
Hi Microsoft OneDrive team, would you have any input on this? This is still affecting us!

[2019-04-10 18:24] larso077 commented on #137
It would be helpful to add this to the docs, @Xenero 's solution worked for me as well.

[2019-04-12 08:40] longleeproduction commented on #106
---> It's working very well. Thank you.

---> I think after login you need call function: `[ODClient setCurrentClient:client];`

[2019-05-16 11:32] kaich opened #208 "nameConflict not work"
[code]

when I copy a file to the target path. When I use `ODNameConflict.replace())`. It doesn't work file. It still rename the file when target file exists.

[2019-07-26 13:45] t3chno opened #209 "Is this sdk outdated?"
There is no swift SDK and documentation on this SDK is outdated.  It looks like we have to use azure portal not an old portal. Is there any close future plan to update this SDK?
Is it working with app id which created from azure portal?

Microsoft don't you be useful in iOS apps?

[2019-07-26 16:58] kevklam commented on #209
Thanks for your interest! The primary developer story for onedrive is now to use the Microsoft Graph API. There is a corresponding Microsoft Graph SDK that should be used instead.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: t3chnoBr4in <notifications@github.com>
Sent: Friday, July 26, 2019 6:45:36 AM
To: OneDrive/onedrive-sdk-ios <onedrive-sdk-ios@norepl

[2019-08-22 11:24] sumurthy opened #210 "Discovery API will be deprecated"
The discovery API is being deprecated. Please upgrade the SDK or mark as not supported.

Refer here for details: https://developer.microsoft.com/en-us/office/blogs/upcoming-deprecation-of-discovery-service-api/

[2019-09-03 12:58] Suryaphalle commented on #202
Hello @mmcguill, I'm facing same issue for a while have you come up with any solutions for this issue.

[2019-09-09 22:51] mmcguill commented on #202
Hi @Suryaphalle - @orumad solution above worked well for me.

[2019-11-05 12:02] usman1372 opened #212 "One Drive Login PresentContrller iOS13"
when calling (ODClient authenticatedClientWithCompletion) in iOS 13. The present controller appears for login but the user can dismiss it using gesture as per iOS 13. When the user does not use the cancel button the delegate not being called and progress hud disappear after request time out.

[2020-01-04 04:28] allan304 commented on #202
Hello,
// Objective-C
[ODClient setActiveDirectoryAppId:<applicationId> resourceId:@"https://graph.microsoft.com/" apiEndpoint:@"https://graph.microsoft.com/v1.0/me" redirectURL:<redirectURL>];
Mean I only need to change AppId and redirectURL ?

[2020-01-10 02:09] allan304 commented on #202
hello @mmcguill @Suryaphalle @orumad ,  [ODClient setActiveDirectoryAppId: resourceId:@"https://graph.microsoft.com/" apiEndpoint:@"https://graph.microsoft.com/v1.0/me" redirectURL:];  I try to replace the AppId and redirectURL with my app's, but return AADSTS500201: We are unable to issue tokens from this API version for a Microsoft account. Please contact the application vendor as they need to u

[2020-01-10 07:42] danielmrdev commented on #202
Hi @allan304

I guess they have deprecated this SDK (OneDrive SDK iOS). Due to all the problems that I have had with this SDK, I decided a while ago to replace it in my project.

[2020-01-10 08:30] allan304 commented on #202
OK, thanks. I have to replace it, too. Do you replace it with MSAL? Is there a sample?

[2020-02-07 17:02] OneSecure commented on #209
Is there any plan to make oneDrive SDK adapt [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-objc) ?

Or this project is no longer continue?

[2020-03-04 08:34] wang1925 opened #213 "Deprecated API Usage (UIWebView)"
Hi,

I've just tried to upload the new version of the app to App Store, but unfortunately I get a message from the Apple itself:

"Dear Developer,

We identified one or more issues with a recent delivery for your app. Your delivery was successful, but you may wish to correct the following issues in your next delivery:

ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of app

[2020-03-08 12:25] luisangelsm commented on #213
It looks to me that this sdk is deprecated, read this: https://github.com/OneDrive/onedrive-sdk-ios/issues/209

This issue is a blocker for whoever is using the sdk, I wonder if there is a migration guide to move from the onedrive sdk to Microsoft Graph SDK.

[2020-03-08 12:26] luisangelsm commented on #209
@kevklam is there any migration guide or example about how to use Microsoft Graph SDK to cover the functionality offered by the onedrive sdk?

[2020-03-22 12:00] OneSecure commented on #213
Since nobody want to do migrating, I do. My work looks fine. Maybe can help others.
Look https://github.com/OneSecure/onedrive-sdk-ios/commit/7a390f964ac1c893fb2ab4b80d05e3ed4388392c

I don't understand why Microsoft abandoned this SDK.

[2020-03-23 02:06] wang1925 commented on #213
Thans for your work，Great job

[2020-03-23 02:07] #213 closed, assigned to nobody

[2020-04-20 11:09] kungfuslippers commented on #213
Hi OneSecure@7a390f9

I tried to get your UIWebView -> WKWebView changes by updating the reference to OneDriveSDK in my Podfile from :

pod 'OneDriveSDK', '1.3.0'
to:
pod 'OneDriveSDK', :git => 'https://github.com/OneSecure/onedrive-sdk-ios.git'

and all builds ok but I still get references to UIWebView in

ADAuthenticationContext.h
ADAuthenticationViewController.h
ADAuthenticationViewController.m

[2020-04-21 02:02] OneSecure commented on #213
I think you can NOT use pod command. You must use git clone instead.

[2020-04-27 13:53] moerschl opened #214 "Urgent :: Use of deprecated ADAL version"
**Apple does not accept iOS apps which using the deprecated UIWebView anymore.**

Currently, onedrive-sdk-ios is only working with the long time deprecated ADAL version 1.2.
This version of ADAL is using UIWebView.
Please update onedrive-sdk-ios to use the lates ADAL version which is using WKWebViews.

Compiler warning:
_Pods/ADAL/ADALiOS/ADALiOS/ADAL_iPad_Storyboard.storyboard:s1f-g9-Kf9: warning

[2020-05-08 06:01] aharrys commented on #209
anyone can explain migration guide to use Microsoft Graph SDK ?

[2020-05-08 06:45] moerschl commented on #209
I have the same issue… if you find a solution, I would really appreciate if you tell me!

[2020-06-03 14:05] aleemrazzaq commented on #214
Any body find solution as I can't upload my app to Appstore
_**Please correct the following issues, then upload again.
ITMS-90809: Deprecated API Usage - New apps that use UIWebView are no longer accepted. Instead, use WKWebView for improved security and reliability. Learn more**_

[2020-06-04 07:07] mdfalcon104 commented on #213
@kungfuslippers  I got this error [!] Unable to find a specification for `ADAL (~> 1.2)` depended upon by `OneDriveSDK/Auth`.

Could you please give a hint?

[2020-06-04 13:11] FelixYew commented on #214
Me too facing the same problem. UIWebView is deprecated! Anyone to fix this problem thanks.

[2020-06-04 13:18] Applitom commented on #214
+1
We have the same issue.
we get this warning every submit to Apple and this warning will turn to rejection by EOY.
Any ETA for a fix?

[2020-06-08 07:24] aharrys commented on #214
same issue,
is needed confirmation any ETA for a fix ?

[2020-06-10 10:50] DemianSteelstone commented on #214
+1
same issue

[2020-06-16 07:19] mosess commented on #214
+1 for asking some ETA for this

[2020-06-17 09:57] alexandr-appslab commented on #214
+1
same issue

[2020-06-30 10:22] wang1925 opened #215 "IOS onedrive SDK needs to be updated. Uiwebview has been abandoned and needs to be replaced with wkwebview"

[2020-06-30 16:17] moerschl commented on #215
Duplicate of [#214](https://github.com/OneDrive/onedrive-sdk-ios/issues/214)

[2020-07-28 05:56] erniethomason commented on #214
I updated the OneDriveSDK code to use WKWebView.  If interested, you can check out my solution on stackoverflow: https://stackoverflow.com/questions/63127839/ios-onedrive-sdk-needs-update-for-depreciated-uiwebview

[2020-07-30 06:44] balajiechat commented on #214
+1
Same issue not able to submit the app.

[2020-12-05 02:51] nguyenvietvu opened #216 "Can't Sign in with MS account"
1. When I create new App on https://portal.azure.com, I also configurate Redirect URL for IOS platform like this: 'msauth.com.abc.apps.xyz://auth'
2. AppDelegate: ODClient.setMicrosoftAccountAppId("cc07b813-1749-4745-88cf-1e9e0fb183b3", scopes: ["onedrive.readwrite", "offline_access"])
3. call:
ODClient.client { (client, error) in
            guard error != nil else {
                return

[2020-12-15 03:25] nuwanga88 commented on #214
Same issue is facing and how you guys sorted out this?

[2021-01-09 21:53] jadfls commented on #216
@nguyenvietvu did you solve this issue?

[2021-01-20 08:56] rajubd49 commented on #201
Facing same issue, @CoreyJPowell  did you find any solution?

[2021-01-29 16:03] zzrrxx commented on #216
Have you found the cause of the problem? I also encountered the same problem

[2021-04-02 13:04] abuzarin93 commented on #202
helpfull: thanks orumad!

[2021-05-13 12:23] PrashantKT opened #217 "Install without pods ?"
How can I install without pods ?

[2021-07-02 07:24] hardikthakkar54 commented on #28
Change One Line -

ODAppConfiguration.m File :

 _parentAuthController = [[[[UIApplication sharedApplication] delegate] window] rootViewController];

 Replace this line -

 _parentAuthController = [UIApplication sharedApplication].keyWindow.rootViewController;

[2021-08-20 10:02] Haibo-Zhou commented on #214
If there is a fixed in 2021? Just integrate Google Drive into my app, now in turn the One Drive and Drop Box.

[2021-11-16 00:37] yutakaA commented on #216
+1
We have the same issue.

[2022-11-16 03:33] s40623 opened #218 "H"

[2022-11-16 21:25] s40623 opened #219 "Asd"

[2022-11-16 21:26] #219 closed, assigned to nobody

[2022-11-16 21:27] s40623 opened #220 "P"